[2013-10-19 14:18] sturmE opened #3 "Intent System"
Create a system to map keyboard input to "intents" that we define. Ex. Mapping forward key to a "Move Forward" intent.

[2013-10-24 16:35] JaredPoetter opened #8 "Implement TimeSystem to work with TimeComponent"
When I was reading through the Conrad's Monster Spawner pull request I noticed that he had a TimeComponent implemented. I think that we should create a TimeSystem that will process all of the entities that have a TimeComponent and increase the time since the last frame was rendered. There are enough of us that need the time since the last render that this could be worth the investment.

Another op

[2013-10-24 16:52] AOEChamp commented on #8
We should just pass time as a param with each components update function. I
would assume that many components require it

On Thursday, October 24, 2013, Jared Poetter wrote:

[2013-10-24 18:13] JaredPoetter commented on #8
Now that I look through some of the code I noticed that we do have this implemented in the ECS with the processEntities method already passing in the float dt which will give the same result. So you can just use this parameter if you want to figure out the time since the last render.

So this means that we should not need a TimeComponent at all then. We can discuss at one of the meetings if we nee

[2013-10-24 20:36] sturmE commented on #8
I think it could be done, but, as you noticed, we pass in dt to all the systems for a reason. One possibility that could be useful in many different places would be something like a ScheduledExecutor in the java world (but not on a sepearate thread). What could happen is you schedule a function call to happen in x seconds. Then, every frame your system could give this "function call scheduler" the

[2013-10-24 23:12] JaredPoetter opened #9 "Separate currentFrame into the animation component"
- Put currentFrame and timeElapsed into the Animation component
- Pass the currentFrame and timeElapsed into the NextFrame method by reference

[2013-10-24 23:13] JaredPoetter opened #10 "Put a SpriteSheet Into ResourceManager"
We need to put a SpriteSheet into ResourceManager so that the user can access SpriteSheets instead of Texture2D.

Before:

[code]

After:

[code]

[2013-10-25 00:10] JaredPoetter opened #11 "Implement containsKey check to ensure animation exists"
Every time the code looks into the Dictionary of animations or offsets, use the method containsKey to see if the key is in the Dictionary.

Instead of throwing an exception:
- have the program draw a obvious graphic to show the user that there is something wrong with the key they entered
- Also output in the Logger that there was a problem with the key they provided

[2013-10-25 15:23] mplewis commented on #11
I don't think we want to turn runtime exceptions into caught runtime errors, personally. If something doesn't work, it should fail hard and very visibly so that we can fix it immediately.

Am I right in thinking that these errors might show up when changes are made but should never show up in a proper production build? These keys are determined at compile time, not runtime, right?

[2013-10-25 16:28] bkern24 commented on #11
If i am understanding this correctly i have to agree with matt on this one. If for some reason our code recieved an incorrect key we wouldnt want to allow the game to continue as it may then error elsewhere making it harder to find  the root cause.

[2013-10-25 16:50] JaredPoetter opened #13 "Documenting/Drawing Up All Components & Systems"
I was thinking that it might be a good idea to draw/document all of the components in some sort of tool like Visio or Google Draw. I am noticing that we are going to have a lot of components and systems in the near future and it would make it easier for myself and the rest of the group to make a visualization to use as a reference. It would be nice to use a tool that allows all of us to modify it

[2013-10-25 16:54] JaredPoetter commented on #13
Looking at all of them it seems GenMyModel might be a good one but I am going to wait and see what you guys think before we start creating it.

EDIT: Sorry I don't think that GenMyModel has collaboration implemented in their beta version of the software. So this one is off the table I think.

[2013-10-25 17:20] mplewis commented on #13
I personally prefer Omnigraffle and can acquire copies for everyone.
Unfortunately, it's only an OS X app.

On Fri, Oct 25, 2013 at 11:54 AM, Jared Poetter notifications@github.comwrote:

[2013-10-25 18:44] #9 closed, assigned to JaredPoetter

[2013-10-25 18:58] JaredPoetter opened #14 "How to use animation wiki page"
Complete the animation wiki page to explain how to work with the animation and the XML animation file.

[2013-10-25 21:19] sturmE commented on #13
Ive got it started on the wiki
https://github.com/4950/ShittyPrototype/wiki.

As you can see we have all the components in the sidebar. Peolple just need to add the components they make.

[2013-10-25 21:20] sturmE commented on #11
Agreed.

[2013-10-25 21:24] JaredPoetter commented on #11
The keys that I am referring to are the names you give to each animation in the XML file. So the keys are defined by the developer but are loaded at runtime so there is no way for the compiler to know if that key is going to be there or not. Did one of you have a better idea for this so that it can be caught at compile time?

[2013-10-25 21:29] sturmE commented on #11
O compile time. The only way I can think of is doing the enumeration that I suggested to you the other day.

[2013-10-25 21:33] JaredPoetter commented on #11
But you cannot create an enumeration at runtime. So the only option that I can think of is to have a set of N animations that can be in a sprites animation and create an enumeration for all of those animations. But this will limit us to those N animations and what happens if one of the sheets does not have an animation for one of the N. Now we are back at square one, I am just going to draw someth

[2013-10-26 00:19] mplewis commented on #11
That's fine with me. I don't really care one way or the other about the animation implementation.

However, if there's a bad sprite or the animation is wrongly implemented, I want the program to crash hard, not log a soft error to console. If there's a problem with an animation we should fix it instead of putting in a placeholder. Throwing an exception will help us find what's going wrong by forci

[2013-10-26 14:35] JaredPoetter commented on #11
Ok I will have to look into how exceptions work in C# because I have not used them in C# either.

I was also was thinking about a straight forward way on how to specify the animations like Direction string + Action string. So for attacking to the left you would pass in the string "Left" + "Attack" will give you the left attack animation.

Does that sound like a good idea?

[2013-10-26 15:06] mplewis commented on #11
That definitely sounds like a case in which two enums would be nice -- a
`Direction` enum and an `Action` enum.

On Sat, Oct 26, 2013 at 9:35 AM, Jared Poetter notifications@github.comwrote:

[2013-10-26 19:13] sturmE commented on #11
You can even go further and compose a "sprite" of multiple sprites (ex. head sprite, body sprite, legs sprite). Then you can animate each body part.

Of course all this stuff is future stuff.

[2013-10-27 13:51] JaredPoetter opened #17 "Sprite animation from multiple parts"
Advance the sprite animations by creating each sprite from multiple sections. So the head would be animated separately from the body. This would allow us to create any type of monster or player if we had enough sprite sheets to justify implementing this feature.

"You can even go further and compose a "sprite" of multiple sprites (ex. head sprite, body sprite, legs sprite). Then you can animate ea

[2013-10-27 14:21] sturmE commented on #17
I think thats the first time I've ever been quoted.

[2013-10-27 14:28] sturmE commented on #17
You could probably put a label on these for "Animation Improvements"

[2013-10-27 14:29] sturmE opened #18 "Finite vs Looping Animation"
Add in someway to specify whether an animation should loop indefinitely or just play through once.

[2013-10-27 19:09] JaredPoetter opened #19 "More information in defining animation"
Being able to specify more information in the XML file to create a animation that has more options like:
- Put the SpriteSheet texture file location into the XML as an attribute.
- Variation in time for each frame of the sprite to render for.
- Ability to specify the rectangle of each frame on a single sprite sheet of an animation.
- Multiple ways to define an animation on a sprite sheet. Each fra

[2013-10-28 17:51] mplewis commented on #8
Function callbacks?

I really, really like function callbacks.

On Thu, Oct 24, 2013 at 3:36 PM, Eugene Sturm notifications@github.comwrote:

[2013-10-29 13:41] dawl opened #20 "Monsters Colliding with Each Other"
At some point we need to implement collision detection between monsters. (probably in sprint 3 or 4)

[2013-10-29 13:44] dawl opened #21 "Converting MonsterSystem to a generic MovementSystem"
I'm working on making a general movement system so we can move anything that has a movement component, not just a monster component.

[2013-10-29 15:16] dawl opened #22 "Aspects Don't Detect Subclasses"
I am trying to implement a generic MovementSystem, and my plan was to have a parent class (MovementComponent) with several subclasses (AIMovementComponent, SpellMovementComponent, etc...).  However when an aspect contains the parent class (MovementComponent) the bit vector if the Aspect does not mach on bitVectors of entities containing the sub-classes.  I'm going to push up my changes, feel free

[2013-10-31 14:50] JaredPoetter opened #23 "Implementing animation direction into player and monster movement"
I was wondering if anyone had any thoughts on how to do this. I have a couple of ideas but I want to find an idea that will make it as flexible as possible.
- DirectionComponent to store the direction of the sprite. The AnimationSystem would take this in as part of its aspect. It would then be able to pass the information onto the onto the AnimationComponent.
- AnimationComponent being required in

[2013-10-31 19:10] sturmE commented on #23
I think the idea of a direction component is good. Maybe later on we can combine that with other components. I dont like the idea of required spatial components to have animation components. A spatial component should mean "this entity is located at position (x,y) in our simulation". In my mind, that has nothing to do with animation. For me, animation is coupled with movement and actions. If we ar

[2013-10-31 20:18] JaredPoetter commented on #23
Let's make sure I am understanding you correctly. The DirectionComponent is basically going to be used as a carrier pigeon to deliver the information of the sprite's current direction and action between the AnimationSystem and PlayerSystem/MonsterSystem. Or should the action be another component, ActionComponent?

[2013-10-31 21:13] sturmE commented on #23
The direction component defines where the "front" of a sprite is. In the future, we may want to merge components together but for now this could be its own component.

My thought is that the system that moves and entity should set the direction the entity is facing and set the animation. Direction will probably be used in alot more places than just animation. It is independent of other systems, bu

[2013-10-31 21:13] sturmE commented on #23
I dont know if I answered your question.

[2013-11-01 16:08] sturmE commented on #22
Yes I saw this issue also. This isnt a quick fix. To work around this for now, just define you aspects to take the subclasses MovementComponents instead of the parent class.

[2013-11-01 16:09] #13 closed, assigned to nobody

[2013-11-01 16:09] #8 closed, assigned to nobody

[2013-11-01 16:10] sturmE commented on #20
Agreed.

[2013-11-01 16:11] sturmE commented on #22
Sorry it took 3 days to see this. I didnt get an email. Next time, since you know this is directed towards me, just assign this issue to me or use @ symbol to reference me.

[2013-11-01 16:13] sturmE opened #26 "Implement passability map layer"
We need to be able to collide with walls we define in the xml file for the map.

[2013-11-01 16:14] sturmE opened #27 "Trigger tiles"
We need to be able to trigger events by "stepping" on locations on the map. These triggers should be defined in the XML layout.

ex. Step on locations, 50000 monsters spawn next to you

[2013-11-01 16:16] sturmE opened #28 "Map Rendering"
Right now, map renders itself. We need to integrate this into our current rendering system.

[2013-11-01 16:17] sturmE opened #29 "Map Management"
We need some way to easily load in/load out/change the current map a player is on successfully.

ex. Switch map, place player in correct location on new map, removed entities that were on old map, create new entities needed for new map...etc.

[2013-11-01 16:18] sturmE opened #30 "Map Querying"
We need some way to easily query information about the current map.

ex. "Can I move here" (cant think of anything else, but there is other stuff)

[2013-11-01 16:21] sturmE opened #31 "Better collision detection"
Right now we have basic collision detection that just checks if a "player" collides with something else. We need more than that.

For speed, I suggest using http://farseerphysics.codeplex.com/. From what I read, it should play nice with monogame.

[2013-11-01 16:23] sturmE opened #32 "Queue events instead of triggering events"
I think it would be better to queue events over the course of a frame, then act on those events at the beginning of the next frame. If we act upon events immediately, this could cause chaining of events one after another.

Any thoughts? @Duffman9205

[2013-11-01 16:25] sturmE opened #33 "Size of sprites and size of entities in game"
How are we going to handle the setting the sizes of sprites entities and their respective bounding boxes. Right now we are just doing whatever we want.

[2013-11-01 16:28] sturmE opened #34 "Melee damage"
Right now we kill monsters by walking over them. Next, we want to kill monsters by explicitly attacking them.

How are we going to do this from a melee perspective. My thoughts are to just do collision detection for an attack when a "melee" action is happening. So you'd have to walk on top of the monster then attack to kill them.

Thoughts?

[2013-11-01 16:29] sturmE opened #35 "Ranged Damage"
Right now we kill monsters by walking over them. Next, we want to kill monsters by explicitly attacking them.

How are we going to do this from a ranged perspective. For a initial implementation we can just shoot an arrow that flies for x amount of time or x amount of distance then disappears. We could just do collision detection with this arrow and monsters.

Thoughts?

[2013-11-01 16:30] sturmE opened #36 "AoE Damage"
Right now we kill monsters by walking over them. Next, we want to kill monsters by explicitly attacking them.

How are we going to do this from a aoe damage perspective. What I mean by this is, you press a button, then we do damage to everything with a radius around you.

Thoughts?

[2013-11-01 16:31] sturmE opened #37 "Logging"
Console.Writeln() shits on everything when used in systems. We need to implement a logger that buffers log strings then writes them once per frame.

Also, everyone needs to use it.

[2013-11-01 17:36] sturmE opened #38 "Monsters and Players need collision detection"
Right now, we just check if player collides with monster. We need just prevent collisions by setting entitys' positions when they collide.

[2013-11-01 18:05] baylorw commented on #36
The designers need to decide how combat will work. In some games, combat moves to a separate screen. If it's on the same screen, combat could be by running into people but i think pressing a button is more common. Since we are not clamping to a grid, range is a factor.

Yesterday i was discussing with a friend how we'd handle AoE in a Unity game. We're going to use a circular collision volume. In

[2013-11-01 18:12] rthonglyvong commented on #35
Maybe point target, after x time, depending on distance, a collideable
object generates and does damage

On Fri, Nov 1, 2013 at 11:29 AM, Eugene Sturm notifications@github.comwrote:

[2013-11-01 18:18] baylorw commented on #27
The design team needs to flesh out enough of the game design to be able to say what precisely we need triggers for.

Issues:
1. Size - Do we want tile, circular, rectangular, arbitrary convex poly or arbitrary concave poly?
2. Events - The systems i've used have onEnter, onStay and onExit. Some systems allow you to specify an event name (lets you trigger special things such as onTouchFire, onTouch

[2013-11-01 18:29] baylorw opened #39 "Broadcasters"
Many engines have a base collision system. This is the basis for other systems such as triggers, broadcasters and location markers.

A broadcaster has a large range and an attenuated signal. If you are at the center, signal strength = 1, if you are at the edge, signal strength might = 0.1.

Broadcasters are used to say "hey notice me". Examples include dead bodies, open doors, room lights and abse

[2013-11-01 18:32] JaredPoetter opened #40 "HUD"
Make HUD that displays current state of game (number of monsters to kill)

[2013-11-01 18:33] mplewis opened #41 "Rename SpawnerCompnent.cs to SpawnerComponent.cs"
Typo fix.

[2013-11-01 18:34] baylorw opened #42 "Location Markers"
We might want to add location markers. A location marker is a node that has a name or tag.

Example 1: Agent walks into a room. Trigger at door says to walk over to light switch and flip on the light. The light switch has a node next to it marked CafeteriaLightSwitch2 and the trigger script is "invoker.walkTo("CafeteriaLightSwitch2")".

Example 2: Agent's state = Patrolling. Receives event onTakeD

[2013-11-01 18:36] mplewis opened #43 "Add health system"
- Entities start with an integer amount of health
- Attacks do damage
- When an entity reaches 0 health, it dies

[2013-11-01 18:37] mplewis opened #44 "Build UDP networking demo"
Demonstrate a basic implementation of a UDP client/server in C#.

Build a chat server that does the following:
- Accepts client connections
- Broadcasts all received UDP messages to all connected clients

[2013-11-01 18:37] sturmE commented on #33
We should have a way to set a entities size in game. This should scale the textures to display properly.

[2013-11-01 18:46] sturmE commented on #43
Label your shit

[2013-11-01 18:46] mplewis commented on #43
NO

[2013-11-01 18:46] mplewis commented on #37
I can take a look at this.

[2013-11-01 18:54] sturmE opened #45 "Best monster AI"
Make monster wander randomly and not group up.

[2013-11-01 18:56] sturmE opened #46 "Aggro Radius"
Make monsters run at player when they detect the player coming within a specified radius. https://github.com/4950/ShittyPrototype/issues/39

[2013-11-01 19:04] baylorw opened #47 "Agent GUI"
Game designers needs to decide what the screen will look like.

A common option is for every agent to have a health bar over their head and for numbers to float up from their head when they take damage. If we want that, we need a system for it. Often done with the normal GUI system. Requires GUI elements to be mounted and animated (if floating) and custom GUI elements (health bars, poisoned icon,

[2013-11-01 19:08] baylorw commented on #37
Normal logging (to disk) is done with tools like log4net. i assume we want an online one. That means we need a large read-only text GUI object that can be shown/hid with a hotkey.

[2013-11-01 19:52] sturmE commented on #37
That actually does bring up a good point. It would be good to have log levels (ex. Debug, Error) but even further (Combat, Animation). This way if we want to display a combat log, we can easily pick out the correct log statements to display in the log.

[2013-11-01 19:54] JaredPoetter opened #48 "Make animations move back into idle state"
Currently player does not have move into idle state after the keys not pressed.

[2013-11-01 20:00] sturmE commented on #43
I think a good start to this would be to have a health system that essentially is "everyone has 0 health." Then if we get that working obviously expand.

[2013-11-01 20:01] sturmE commented on #27
+1 for all of this.

[2013-11-01 20:03] sturmE commented on #35
Point targeting with the mouse would be a good thing to have. To start, I think we can just shoot a projectile straight in the direction we are facing.

[2013-11-01 23:36] baylorw commented on #32
Your standard game loop is

while (1)
  getInput()
  update()
  render()

All events should be handled in update(). If you're suggesting putting all events in Queue<Event>, how does this relate to frame rate? Are you proposing that we set a between-frame counter and then process all the events until the queue is empty or time expires?

Chained events are not a bad thing so long as they're written

[2013-11-01 23:44] baylorw opened #49 "Scheduling"
In many game engines you have the ability to say "trigger this event/call this method in X ms".

This is used for many things. One is procedural animation - every 10ms strobe a color or grow an item or count down a GUI effect timer, etc. The alternative to this is to use an unbound clock/fast as you can render approach and base continuous processes on a delta approach (i.e., float changeInTime = n

[2013-11-01 23:49] baylorw opened #50 "Mounting"
Some 2D and most 3D game engines have the concept of mounting. A weapon mounts to a hand, a hat mounts to a head, etc. This requires a sprite to have 0..n mount points and a way of specifying gun mount point 7 mounts at 90 degrees to mount point 13 on the sprite.

In addition to graphical flourish, mount points are used to attach sound sources, illumination sources and things the environment and a

[2013-11-02 01:22] sturmE commented on #50
I like the idea of this for weapons. It is definitely something we could do if we have time to do.

[2013-11-02 01:25] sturmE commented on #20
This is a duplicate issue #31

[2013-11-02 01:25] #20 closed, assigned to nobody

[2013-11-02 02:15] JaredPoetter commented on #21
I was just wondering what a ballpark figure when this or the input system is going to be implemented so that I am not spinning my wheels.

I think that Gary was going to be working on the input system. I will make a ticket for the InputSystem.

@gcoetz

[2013-11-02 02:19] JaredPoetter opened #51 "InputSystem"
An InputSystem that looks at the keyboard state and passing the information to entities that want the keyboard input. So maybe a inputComponent that tells the program that that entity wants that information.

[2013-11-02 04:01] Quillwerth commented on #46
This is a matter of changing ~2 lines of code in AIManager. #45 will be roped into this almost by accident.

[2013-11-02 04:14] Quillwerth opened #52 "Finite Automata AI System"
Build an extensible AIComponent and AISystem that uses FA to model behaviour.
- States (vertices) contain a "Directive" which can ask the MovementSystem/CombatSystem for certain things ("Hey, I want to move in this direction at top speed", "Hey, I want to use a ranged attack").
- Transitions (edges) contain a "Condition" which must be satisfied to traverse the edge. If no edge is traversed, we sta

[2013-11-02 04:37] baylorw commented on #52
i have a lecture on FSMs and related items for games if you want them. However, those are falling out of vogue. The new thing is a variation on heirarchical FSMs / pushdown automata called Behavior Trees. i might even have one in C# kicking around.

[2013-11-02 21:06] sturmE commented on #51
I'll take this one.

This is how I plan on implementing it.

I am going to abstract button presses into Actions and State. An action is defined as when you just care about the button being pressed and thats it.(ex. I want to cast a spell so I press 'A'). A state is when you care about something being help down (ex. Keep moving player left until button is released)

So, if you want to get a callbac

[2013-11-03 01:59] #10 closed, assigned to JaredPoetter

[2013-11-03 02:08] sturmE commented on #10
I think its better to close the issue after the pull request has been merge. Or..did you do this already and its in develop.

[2013-11-03 02:11] JaredPoetter opened #53 "Change the storage of the animations into one dictionary"
I am thinking that the performance of the current set up might get slow if we end up adding more features to the animations. Currently the system has to look through each Dictionary to get each part of the information. The current set up might not hurt the performance but it seems to be sloppy.

[2013-11-03 02:13] sturmE commented on #51
I have a good working version on input in my branch

564798e206a7cdc7d0f2a7bbb69e5b866d93afa5

I am still working on integrating into ECS, but you can still use it. See the simple example for the baseContext in Dirty.cs

[2013-11-03 02:24] sturmE commented on #51
Actually, I'll throw integrating it into a new ticket and make a pull request.

[2013-11-03 02:28] JaredPoetter commented on #10
I was going to put it in and it looks like someone already changed the code to use it. Because your code is flexible enough to just pass in any string into the content loader and it returns it.

[2013-11-03 14:33] JaredPoetter commented on #38
Are we going to make the boundary box around the player dynamic so that if the player is attacking the box is bigger in the given direction? In the player animation that I have been using has an offset for the sprite animation of the sword swinging. So you will probably need to include this value in the calculation too. There is an offset for all of them but the ones that do not need an offset is

[2013-11-03 14:35] sturmE commented on #38
Ya we could do that. Right now the bounding box is just hardcoded but it should resize based on the size of the entity.

[2013-11-03 14:40] JaredPoetter commented on #38
Should we create a SizeComponent instead of sending; the AnimationComponent to the CollisionSystem, putting the size and offset in the SpatialCompnent and sending it to the AnimationComponent.

The SizeCompnent will have to have the size and the offset from the center to the center of the sprite character itself.

[2013-11-03 14:48] sturmE commented on #38
I like the idea of having size in the Spatial Component. Because the purpose of spatial component is to represent the the entity in our simulation. To prevent you from sending animation to the collision system, I think it would be fine to modify the spatial component in your animation system. but not include the spatial component in your animation system's aspect. This would be like says, "k, I'm

[2013-11-03 14:50] JaredPoetter commented on #38
Ok I will do that then. I am assuming that you think that the offset values should be in the spatial component too?

[2013-11-03 14:54] sturmE commented on #38
Could you rephrase your description of the offset. I dont entirely understand what its purpose is. That being said, I feel like the offset is an animation thing. I was thinking that if an entity cared about its size (SpatialComponent), your animation system would perform this logic to resize the entities spatial component (the position/width/height) and nothing else.

[2013-11-03 15:01] JaredPoetter commented on #38
Well if you look at the player sprite sheet image you can see that the CENTER OF THE PLAYER in the walking player frames are in the center of those. But if you look at the attacking player the CENTER OF THE PLAYER in those frames are NOT in the center of the frame. So the animation needs to render the sprite offset some amount. I am just guessing that to get the collisions to work perfectly we wou

[2013-11-03 15:06] sturmE commented on #38
Ok I get it. Ya, I having the offset in the spatial component doesnt make sense because we store the center of the player in there already. Adding an offset parameter to the spatial component is unnecessary when you could have just offset his position. If you can think of a way to apply the offset to the spatial component by not having it in the spatial component that'd be better. I think the more

[2013-11-03 15:12] JaredPoetter opened #55 "Boundary box information in the spatial component"
Put in the information on the sprites current size in the spatial component so that the collision is accurate.

Also put in so sort of way to change the box offset because the walking frame and attacking frames are not the same size. They also the attacking frames do not have the player in the center of the frame.

Sample code for the animation component:

[code]

[2013-11-03 15:42] bkern24 commented on #38
Just To update what I have been researching the last few days, and my plan for collision detection.

I am to going first implement the quadtree system simply using rectangles (Not dynamic) and then I my plan was to look at the sprites and their animations to decide what type of shape/object I want to use for each, or a system that can adapt.

I currently am looking into how to implement quad trees

[2013-11-03 15:45] bkern24 commented on #38
Also I am curious as to what should be occurring when players and monsters collide. I mean if they collide should they get pushed back (For example, in Zelda the player gets hits and slides back a few "steps"). However, I feel as if this may be a different system in the framework??

[2013-11-03 16:00] bkern24 commented on #55
I am reading through the basics of Farseer, and felt that this may apply here, especially the Shape and Fixtures

World
The world object is the manager of it all. It iterates all the objects in the world each time you call the Step() function and makes sure everything is consistent and stable.

Body
The body keeps track of world position. It is basically a point is space that is affected by forces

[2013-11-03 16:44] sturmE commented on #38
Whenever a collision happens we want to do something. The two somethings that I can think of are bump into eachother (monsters dont walk on top of eachother) and do damage (sword hits monster, monster takes damage). The collision system could just check if stuff collides, then we need to define what is notified when certain types of things collide.

[2013-11-03 21:04] Quillwerth commented on #52
I'll take whatever you can send me. Implementation is a bit of a nightmare... Doable, but irritating.

[2013-11-04 01:05] JaredPoetter opened #56 "Implement chromakey in the spritesheets"
Make it so that the sprite sheets can have a solid color background and it can be removed by the program.

[2013-11-04 07:17] baylorw commented on #56
Why would we want this?

Does XNA not support this? The tools i'm used to do but you have to tell it which color to use, which is a bitch when you have 2 million colors and no GUI to select the one you need.

If this is important we might be able to write a gimp script for it

[2013-11-04 14:02] JaredPoetter commented on #56
I will have to look into it. I did not know if it was something that is already implemented in the XNA library or not. Even if it is something that is implemented in XNA already, I still have to figure out how to use it. So I guess that is what I am really saying with this GitHub issue.

Thanks for letting me know about XNA already having something.

[2013-11-04 23:40] mplewis commented on #56
Do transparent PNGs not work? I ask out of ignorance.

On Mon, Nov 4, 2013 at 8:02 AM, Jared Poetter notifications@github.comwrote:

[2013-11-04 23:56] baylorw commented on #38
A suggestion - leave the bounding box for the sprite alone. When attacking, and assuming you know facingDirection, spawn a new entity, Weapon. It has a bounding box at least partially outside the player's box. Doesn't need an image because the animation has that. Monster collides with either the player or the player's weapon and diff things happen depending on what he hit. Think of it like Mario's

[2013-11-04 23:59] baylorw commented on #55
You could just make the bounding box the same size as the sprite (or the size of the initial sprite). i don't currently know any reason to have fine-grained collision for the game we're making and with limited time i'm not sure this would be high priority.

[2013-11-05 00:17] AOEChamp commented on #56
http://stackoverflow.com/questions/5496677/how-do-i-color-key-in-c-in-xna
answers the question on how to use chroma key in xna. I don't see the need though, when transparency works just fine.

[2013-11-05 00:18] AOEChamp commented on #56
You can also replace color after creating the texture, but that's slow. Oh, and you can use a shader to replace the color on the fly.

[2013-11-06 02:06] dawl commented on #21
I've got the system up and running on the etzel/AIImprovements branch.  Feel free to take a look at the MovementSystem.

[2013-11-06 02:17] dawl commented on #46
It was a little more than 2 lines of code, but monsters now monsters run towards the player, not each other.

[2013-11-06 02:17] #46 closed, assigned to dawl

[2013-11-06 02:20] dawl commented on #45
Monsters wander randomly when the player is outside of aggro range. check it out on origin/etzel/AIImprovements

[2013-11-06 02:20] #45 closed, assigned to dawl

[2013-11-06 02:21] dawl commented on #46
Check it out on origin/etzel/AIImprovements

[2013-11-06 04:28] #40 closed, assigned to nobody

[2013-11-06 20:22] #47 closed, assigned to nobody

[2013-11-06 20:36] #48 closed, assigned to JaredPoetter

[2013-11-06 20:43] AOEChamp commented on #11
Missing animations and similar criteria are akin to what assert statements would be in c++. However, since we plan to deploy this game in the near future, I would suggest we avoid throwing exceptions(as one would not include asserts in a deployed c++ app). We can handle this situation either by accessing the dictionary and catching errors, or by checking whether said animation exists before hand.

[2013-11-07 05:33] Duffman9205 commented on #32
Yes, the idea was to have a time limit for processing events to maintain frame rate and then we'd also know when events are being processed (also they wouldn't interrupt the process currently going on).

The idea of queuing events was from Game Coding Complete (4th ed.)

[2013-11-07 14:43] sturmE commented on #32
The reasoning for my suggestion is that I dont trust anyone. I can already see events triggering events triggering events...and so on. As you said, we could just let it happen and blame the designer. I feel like if we queue events instead of triggering, it will be more obvious when this happens.

[2013-11-07 20:16] mplewis commented on #32
Not trusting anyone is also a good argument for throwing loud game-breaking
exceptions when things like animations break instead of debugging silently.

On Thu, Nov 7, 2013 at 8:43 AM, Eugene Sturm notifications@github.comwrote:

[2013-11-07 20:20] sturmE commented on #32
Its going to break either way, just how you want it to break.

[2013-11-07 20:22] mplewis commented on #32
Break loud and often. If it breaks it should be fixed.

On Thu, Nov 7, 2013 at 2:20 PM, Eugene Sturm notifications@github.comwrote:

[2013-11-08 03:31] JaredPoetter opened #58 "Adding two of the same type of components to an entity"
Eugene your EntityManager code breaks when you try to add another component of a type that is already in that Entity.

Here is a code snippet that will break the code. Copy this in place of your public Entity CreatePlayerEntity(SpriteSheet spriteSheet) in EntityFactory:

[code]

Also I changed Animation -> AnimationComponent so you will need to change this back to try this code in your copy.

[2013-11-08 03:34] sturmE commented on #58
about to upload the fix.

On Thu, Nov 7, 2013 at 9:31 PM, Jared Poetter notifications@github.comwrote:

##

Eugene Sturm

[2013-11-08 03:36] sturmE commented on #58
fixed

[2013-11-08 03:36] #58 closed, assigned to nobody

[2013-11-08 04:34] JaredPoetter opened #59 "Callback function with parameters for input manager"
Allow callback functions for input manager to have parameters.

[2013-11-08 16:27] JaredPoetter opened #60 "Make the animation actions and direction an enum"
Put all the actions and directions that an animation can move into an enum.

[2013-11-08 17:24] sturmE commented on #60
I was going to suggest that haha.

[2013-11-08 18:54] #51 closed, assigned to nobody

[2013-11-09 17:30] bkern24 opened #61 "BorderComponent"
A BorderComponent to store the information of the map boundaries. This way Farseer can create borders to allow for the collision detection of walls and such. This would probably be a new entity, and not a component of the monster/player.

[2013-11-09 17:31] bkern24 commented on #39
Implemented The Physics.Query function, so somebody could use this func and then fire an event etc.

[2013-11-09 17:35] bkern24 opened #62 "Velocity Movement"
This concerns the Player input system using the velocity in the movementComponent, and all monsters using it as well. This may have to wait until Eugene's fix for SuperClasses of hasComponent<> (Which may be finished)

[2013-11-11 19:22] bkern24 commented on #43
I have some good ideas to at least get things started with the health system. i.e start with Eugene's suggestion

[2013-11-11 19:24] bkern24 commented on #61
I can do this to ensure that the monsters and players cant run off the map, it will just be a basic height width invisible border for now. Just want the structure to be there

[2013-11-12 22:01] sturmE opened #64 "New map rendering doesnt work"
when creating the effect for the new map rendering technique, we need to use the camera transformations.

[2013-11-12 22:02] sturmE opened #65 "Monster Kill counting"
HUD no longer tracks the number of monsters to kill and have been killed.

[2013-11-12 22:03] sturmE opened #66 "You can win the game without kill all the monsters"
We have a set number of monsters that will spawn over a period of time but if you kill all the active monsters before another monster spawns, you win.

[2013-11-12 22:07] AOEChamp commented on #64
The cam transform won't work, it's on different axis'. I think the two
things that need to be done, is the projection matrix needs to be set so
that we can calculate the number if tiles displayed. Then, we can transform
the 3d cam by a scalar of the 2d cam

On Tuesday, November 12, 2013, Eugene Sturm wrote:

[2013-11-12 22:16] sturmE commented on #64
I switched the camera to a 3d camera that uses a orthographic projection.

Why does the map need to be on a different axis. If we have the camera looking down on the xy plane and the map is on the xy plane we just need to apply the camera transformation to the map to get it in the correct spot to view. Did i miss something?

[2013-11-13 03:58] AOEChamp commented on #64
If the cam is now 3d, then we shouldn't have a problem. Just have to move
the tiles, so that they lie across the right plane. I think they are on the
xy plane at the moment. Not sure what plane our original cam is on, probs
yz or something

On Tue, Nov 12, 2013 at 4:16 PM, Eugene Sturm notifications@github.comwrote:

[2013-11-14 00:48] AOEChamp commented on #35
Basic ranged attacks are done, so I think I'll close this. Use right mouse to fire. Shoots where mouse is pointed...

[2013-11-14 00:48] #35 closed, assigned to nobody

[2013-11-14 00:50] AOEChamp commented on #43
I kinda realized I needed a health system while I was working on ranged attacks, so I just made one. Didn't see Brandon's branch until later. The systems are really similar, so they can be easily merged.

[2013-11-14 00:50] #43 closed, assigned to bkern24

[2013-11-15 02:13] JaredPoetter opened #72 "Remove weapon entity when it is off the map or hits the border."
Remove weapon entity when it is off the map or hits the border so the physics system does not continue to process them.

[2013-11-15 19:32] JaredPoetter opened #73 "Stop movement when attacking and switch heading to the direction of attacking"
Stop movement when attacking and switch heading to the direction of attacking

[2013-11-16 00:16] bkern24 commented on #34
Jared and I will take this one. Jared is gonna supply the animation, and then I'll work on the creating an entity and such (Physics) for the melee.

Bazinga

[2013-11-18 23:50] sturmE opened #75 "Translate TileMap into Physics Representation"
Our maps will handle collision only using farseer. We need to translate our passability maps into collision objects for the physics system.

[2013-11-18 23:53] sturmE opened #76 "Game Lifecycle"
According to our game doc, we need to cycle between the combat phase, buy phase and boss phase. We need to setup these game states are what happens in them.

Combat Phase -> monsters are aggressive; player kills shit (this is a time dependent state, lasting 30 seconds)
Buy Phase -> Monsters are passive; player cant move; "Buy" GUI shows up (this is time dependent state lasting 10 seconds)
Boss Pha

[2013-11-18 23:54] #31 closed, assigned to bkern24

[2013-11-18 23:54] sturmE commented on #26
Doesnt apply anymore.

[2013-11-18 23:54] #26 closed, assigned to nobody

[2013-11-18 23:54] sturmE commented on #30
Doesn't apply / implemented in physics

[2013-11-18 23:54] #30 closed, assigned to nobody

[2013-11-18 23:55] sturmE commented on #61
You finished this, close your shit.

[2013-11-18 23:55] #61 closed, assigned to bkern24

[2013-11-18 23:55] sturmE commented on #55
I believe this was finished.

[2013-11-18 23:55] #55 closed, assigned to JaredPoetter

[2013-11-18 23:56] sturmE opened #77 "Inventory System"
Our game design revolves around holding this and switching between weapons. I believe Adeeb may have started on this, but I'll throw this up here.

[2013-11-18 23:58] sturmE opened #78 "Dynamic Monsters"
We need more interesting monsters. Random health, use ranged attacks, etc.

[2013-11-19 03:51] AOEChamp commented on #77
Inventory should be functional, though it only holds weapons atm. Should be easy to add treasures once we have them. There are already 2 weapons, cycle them with tab

[2013-11-19 03:55] AOEChamp commented on #76
I'll start on this one.

[2013-11-22 04:01] Duffman9205 commented on #76
Have you actually started? If not, I have the basic structure done and would like people to help refine it.

Also, if you have started, please assign the issue to yourself.

[2013-11-22 06:18] AOEChamp commented on #76
No, I haven't yet.

On Thursday, November 21, 2013, Duffman9205 wrote:

[2013-11-24 00:38] AOEChamp commented on #21
MonsterSystem was deprecated a while ago. Removing from source

[2013-11-24 00:38] #21 closed, assigned to dawl

[2013-11-24 00:39] AOEChamp commented on #38
Collision has been handled with physics. Closing

[2013-11-24 00:39] #38 closed, assigned to nobody

[2013-11-24 00:40] AOEChamp commented on #59
Input manager callbacks now return the fired key. More data can be added with a custom object..

[2013-11-24 00:40] #59 closed, assigned to nobody

[2013-11-24 00:42] AOEChamp commented on #23
I believe this was resolved with #82

[2013-11-24 00:42] #23 closed, assigned to JaredPoetter

[2013-12-06 05:08] #77 closed, assigned to nobody

[2013-12-06 05:09] AOEChamp commented on #78
Monsters now use melee or ranged attacks. Clearing current milestone

[2013-12-06 05:11] AOEChamp commented on #34
This seems to be working well enough for the current milestone

[2013-12-06 05:11] #34 closed, assigned to bkern24

[2014-01-15 15:09] dawl commented on #41
Fixed and pushed to develop

[2014-01-15 15:09] #41 closed, assigned to nobody

[2014-01-26 19:00] JaredPoetter commented on #11
Going through all the old tickets and closing ones that are done or not needed.

[2014-01-26 19:00] #11 closed, assigned to JaredPoetter

[2014-01-26 19:00] JaredPoetter commented on #14
Going through all the old tickets and closing ones that are done or not needed.

[2014-01-26 19:00] #14 closed, assigned to JaredPoetter

[2014-01-28 03:25] Quillwerth opened #88 "Enemy Hierarchy discussion"
We need to discuss the local enemy hierarchy, and determine if this idea is feasible. Related tickets will be created as discussion evolves.

[2014-01-28 03:27] Quillwerth opened #89 "Define weapons"
Design team needs to nail down which exact weapons will be added to the game.

[2014-01-28 03:34] FourierTransformer opened #90 "Rescale Health/Damage System"
Scale player total health to 100, keep damage proportional to the new health system.

[2014-01-28 03:43] Quillwerth opened #91 "Implement new enemy: Sniper"
An enemy which camps until approached, the Sniper has a visible laser that will trace (follow) the player slowly. Think "rubber band": as it gets closer, it slows down. If it locks onto the player, a 1 second delay will follow, after which the player will be shot for 25 health.

Every constant in this ticket should be easily modifiable, so that during play testing these can change if necessary.

[2014-01-28 03:44] Quillwerth commented on #78
Closed. We're doing specially designed monsters / modifiers.

[2014-01-28 03:44] #78 closed, assigned to AOEChamp

[2014-01-28 03:57] FourierTransformer opened #92 "Implement new enemy: Wall Hugger"
An enemy which glides around the border of the map boundaries and takes no ranged damage. When approached after a .5 sec delay, fires a dart up to 100px that slows the player to half speed for 5 secs it does 10 damage. It can fire again in 2 seconds. It can move 3x player speed. It has 25 health.

Every constant in this ticket should be easily modifiable, so that during play testing these can chan

[2014-01-28 04:04] FourierTransformer opened #93 "Implement new enemy: Landmine Dropper"
Walks around randomly at 1.3x player speed. If encounters player (roughly 500px distance) it will scurry (1.4x player speed) and attempt to get away from player. Every 4-8 seconds, it will drop a land mine. It has a health of 15.

Landmine is a red dot. If player collides with landmine, 25 damage is done. Other enemies cannot collide with landmine. If the landmine is not stepped on after 30 second

[2014-01-28 04:17] FourierTransformer opened #94 "Implement new enemy: Suicide Bomber"
Suicide Bomber goes at same speed as player. Attempts to follow the player, if he gets within 50px the player, there is a .5 sec delay (in which the player could attack, which will interrupt the explosion) and he blows up- 30 damage will be taken (to the player and himself). It has 30 health. The explosion will do damage up to a 150px radius to all other enemies in the area (also doing 30 damage).

[2014-01-28 04:18] FourierTransformer opened #95 "Implement new enemy: Grenadier"
The grenadier walks around at .8x the player speed and lobs grenades at the player from within 500px. After the grenade lands, it goes off after 2 seconds and affects the player in the area (500px radius) by 20 health. He can lob a grenade once every 7 seconds. He scurries away from the player (.9x speed of the player) when the player is near (within 100px).

Every constant in this ticket should b

[2014-01-28 04:30] Quillwerth opened #96 "New Game Flow"
There is no boss or shop phase in the game: We've got straight rounds.

We need in place (ready to be activated, once the server system is set up) a round system that receives scenario information from the server, has the player play through it, sends that data back to the server, and repeats.

[2014-01-28 04:30] Quillwerth commented on #76
Closed. This is changing. See: #96

[2014-01-28 04:30] #76 closed, assigned to AOEChamp

[2014-01-28 04:46] Quillwerth opened #97 "Implement "Fire Trail""
Fire trail is an area of the ground set of fire (particle system) for a limited amount of time which blocks only player projecticles and does 5 damage ever .5sec while the player stands on it.

Fire Trail does NOT count as an attack, with regards to the HitRate modifier. If the player is hit by a fire-trail, we add one to both the numberOfAttacksLanded and the numberOfAttacksMade. #104

Fire canno

[2014-01-28 04:48] FourierTransformer opened #98 "Implement new enemy: Flametower"
Does not move. Sits still and rotates one revolution every 3 seconds. It has a range of 150px. The fire that it launches is a fire trail (Reference number #97 for fire trail). If an enemy walks through the fire, it gets a fire trail. Players arrows are stopped in the fire that is left behind (enemies arrows are not). It takes no ranged damage. It has 100 health. A player loses 5 health every .5 se

[2014-01-28 05:07] FourierTransformer opened #99 "Implement Enemy Modifiers"
Modifier is a "powerup" to a base stat that an enemy has. We must be able to apply any of these bonuses to any enemy type.

Ex: DamageUp modifier will make a monster deal +20% damage. A DamageUp can be applied to a melee unit, archer unit, etc.

[2014-01-28 05:10] FourierTransformer opened #100 "Remove Shop"
Get rid of all instances of the shop. We don't really want to do the "game manager tries to find the best weapon thing." Mostly because we want the weapons to be constants, to avoid all sorts of game manager craziness.

inb4: ISSUE 100!

[2014-01-28 05:10] Quillwerth commented on #100
Yay, 100! Man, that was underwhelming.

[2014-01-28 05:17] Quillwerth opened #101 "Create DamageUp Modifier"
DEPENDS ON #99.

Implement DamageUp Modifier (+20% damage to applied unit). Is applicable to all enemies.

Every constant in this ticket should be easily modifiable, so that during play testing these can change if necessary.

[2014-01-28 05:21] FourierTransformer opened #102 "Remove Shot Clock"
This has to do with issue #96. Our new system doesn't deal with this anymore. Now we do rounds till you die. No more shotclock business.

[2014-01-28 05:30] Quillwerth opened #103 "Implement MoveSpeedUp Modifier"
DEPENDS ON #99.

Implement MoveSpeedUp (15%+ to moveSpeed). Applicable to all enemies, except Flametower.

Every constant in this ticket should be easily modifiable, so that during play testing these can change if necessary.

[2014-01-28 05:31] FourierTransformer opened #104 "Create a Gameplay Data Capture System (GDCS)."
At the end of each round, the GDCS needs to capture certain statistics of the round just played.

The statistics are:
Amount of hits on player/total enemy attack (Note: #97)
DamageDealt/Total Enemy Health
Total Kills / Total Enemies
FinalHealth
Roundtime
Player Accuracy (amount of hits a player lands / total number of attacks done)
Graze/total number of enemy attacks #107

This data will eventuall

[2014-01-28 05:37] Quillwerth opened #105 "Implement KnockbackUp Modifier"
DEPENDS ON #99.

Implement KnockbackUp Modifier (15% additional knockback). Applicable to all enemies except the Flametower.

Every constant in this ticket should be easily modifiable, so that during play testing these can change if necessary.

[2014-01-28 05:54] Quillwerth opened #106 "Implement FireTrail Modifier"
DEPENDS ON #99.

Implement FireTrail Modifier (gives Fire Trail to an enemy permanently, see #97) Applicable to all enemies except Flametower.

Every constant in this ticket should be easily modifiable, so that during play testing these can change if necessary.

[2014-01-28 06:00] Quillwerth opened #107 "Implement "Graze""
Each attack will have a "grazing box": a slightly larger (10px buffer) hitbox around the original hitbox. If an attack hits the player with the graze box, but not the inner hitbox, the attack does not damage the player, and the player is awarded a "grazing bonus". See #104.

[2014-01-28 06:03] FourierTransformer opened #108 "Obtain a server"
We need a server. Preferably one with some sort of SQL-like database and (preferably) the ability to scale under load. Might need to do some research on this a bit.

If need be, we could get [un]managed VPS from someplace like linode and setup our own system.

Look into: Rackspace, Amazon, and Cloud web server.

[2014-01-28 06:10] FourierTransformer opened #109 "Server concept of Scenario"
A scenario is the collection of enemies that a player will face in a round. The things a "Scenario" object on the server must keep track of is:
- this list of enemies, and their modifiers
- the difficulty of a scenario #110
- the captured data from each run of this scenario #104. This data should be used to calculate the inverse of the PlayerScore multiplier #111, and then sorted by this value.

[2014-01-28 06:13] #102 closed, assigned to nobody

[2014-01-28 06:14] #100 closed, assigned to nobody

[2014-01-28 06:14] FourierTransformer opened #110 "Determining scenario difficulty"
Scenario difficulty is determined by data captured from play-throughs of the scenario ( #104 ).

We add the inverse of the player skill multiplier ( #111 ) to the scenario's list of plays after playthrough ( #109 ).

This list should be sorted, and we take the median inverse from the list and apply it to the scenario difficulty (SD).

SDnew = SDold ( medianInverse )

This should be done after ever

[2014-01-28 06:15] FourierTransformer commented on #108
@baylorw I think @AOEChamp was saying we can get ahold of an Azure server if we sign up for something.

[2014-01-28 06:30] Quillwerth opened #111 "Calculate PlayerScore"
PlayerScore (PS) is a calculation that serves as a proxy for the player's ability at playing the game.

Let H be HitRate, D be DamageDealt, K be Kills, T be Total Health (See #104 ).

PSnew = ceil(PSold( max(3(1-H), .01) + 2D + 2K + 3T / (3(1-Hb) + 2Db + 2Kb + 3Tb) ))

max and ceil are used to avoid having a numerator equal to 0 or Player Score going down to 0.
    Hb, Db, Kb, and Tb are the "idea

[2014-01-28 06:52] AOEChamp commented on #104
I'm thinking they way this will work is: The game will run SQLite internally to log events.

When we need to send data to the server, we can either:
A. Send the sqlite file
B. Send JSON

And then our webserver will read the data and store it in a MySQL database

[2014-01-28 07:03] FourierTransformer opened #112 "Networking infrastructure (be able to send messages b/n client and server)"
Be able to receive data collected by the GDCS ( #104 ) on server.

Client needs to be able to receive scenario data ( #109 ).

Must be concurrent with multiple clients.

[2014-01-28 07:06] Quillwerth opened #113 "Secure more spritesheets"
Without this, the game is unplayable. With many different types of enemies, the threats each pose must be apparent at a glance. This is not a matter of mere ascetics, this is a matter of comprehensibility.

[2014-01-28 07:09] FourierTransformer opened #114 "Hierarchical system for organizing scenarios by difficulty"
After each scenario's difficulty is updated ( #110 ). Update the scenario hierarchy (could be done with a smart insertion sort).

This is a list of all the scenarios ranked by difficulty.

[2014-01-28 07:13] FourierTransformer opened #115 "Select Scenario based on player score"
When the server gets ( #112 ) a playerScore ( #111 ), it needs to pick a scenario from the heirarchy ( #114 ) to send back to the client ( #112 ).

[2014-01-28 07:17] Quillwerth opened #116 "Identify users on server"
Decide if people playing the game will have an identity on the server or not.

@AOEChamp: Weigh in on the technical challenges / requirements for (registered users && unregistered users && anonymous users)

[2014-01-28 07:18] Quillwerth commented on #116
Whoops.

[2014-01-28 07:19] Quillwerth opened #117 "Global Leaderboard"
Hash out details w/ design team for global leaderboard on PlayerScores.

[2014-01-28 07:23] Quillwerth opened #118 "Implement RangeUp Modifier"
DEPENDS ON #99.

Implement RangeUp (+10% range on FiringDistance). Applicable to Grenadier, FlameTower.

Every constant in this ticket should be easily modifiable, so that during play testing these can change if necessary.

[2014-01-28 07:23] AOEChamp commented on #116
So.

Registered Users: Requires users to create an account to play. Can be very simple. Allows us to track all sessions for a user, and customize the game to that user. Also allows us to collect optional metrics like Age and Gender.

Unregistered Users: We don't have a formal registration process, but try to link game sessions together with a virtual user. We can determine users by a unique id, co

[2014-01-28 07:24] Quillwerth opened #119 "Implement AOEUp Modifier"
DEPENDS ON #99.

Implement AOEUp (+15% to AOE effect area). Applicable to Flametower, Suicide Bomber, Grenadier, and Minelayer.

Every constant in this ticket should be easily modifiable, so that during play testing these can change if necessary.

[2014-01-28 07:29] AOEChamp commented on #108
http://www.windowsazurepass.com/azureu

Easy sign up page there. Not sure if you've filled it out yet Baylor. If not, I can fill it out with your infos. John told us to use that page.

Also, Amazon:
http://aws.amazon.com/grants/

[2014-01-28 07:33] Quillwerth commented on #66
Closed, by virtue of Shak saying "that's not a thing"

[2014-01-28 07:33] #66 closed, assigned to nobody

[2014-01-28 07:34] Quillwerth commented on #65
Closed. We are replacing this with a full scoring system.

[2014-01-28 07:34] #65 closed, assigned to nobody

[2014-01-28 07:36] Quillwerth commented on #52
Closed. Way outdated, and designed with swappable AI in mind. This isn't our plan anymore.

[2014-01-28 07:36] #52 closed, assigned to Quillwerth

[2014-01-28 07:39] FourierTransformer opened #120 "Server Design"
Design team needs to work out some of the details on how the server should be implemented.

[2014-01-28 07:39] Quillwerth commented on #44
Closed. Removing all evidence of Matt from this project. JK, we need to have a design conversation about the shape of the server. #120

[2014-01-28 07:39] #44 closed, assigned to nobody

[2014-01-28 07:39] AOEChamp commented on #52
FSMs are for babies. I vote Behavior Trees

[2014-01-28 07:41] Quillwerth commented on #36
Closed. We can attack monsters. We have hitboxes. We can do AOE.

[2014-01-28 07:41] #36 closed, assigned to nobody

[2014-01-28 07:41] AOEChamp commented on #120
I call being Server Master :P I think server design will largely be influence by platform. If we are going with a custom linode or something, then we will have to use a scripting language(PHP???). If Azure, then we're using C#/ASP.net. If Amazon, then whatever Amazon uses...

[2014-01-28 07:44] Quillwerth commented on #27
Closed. Not needed. We've got the collision system, anyway.

[2014-01-28 07:44] #27 closed, assigned to nobody

[2014-01-28 07:46] Quillwerth commented on #19
@coala2000 is this still desired or in development? Keep in mind we have more pressing stuff (at least, in my opinion). Close it if we don't want it.

[2014-01-28 07:46] Quillwerth commented on #3
Closed. We've got input, and it's sufficient.

[2014-01-28 07:46] #3 closed, assigned to nobody

[2014-01-28 07:47] Quillwerth commented on #17
@coala2000 Still working on this? Close it if you aren't.

[2014-01-28 07:47] Quillwerth commented on #18
@coala2000 Did we finish this?

[2014-01-28 07:48] Quillwerth commented on #28
Not sure if this is dealt with... @AOEChamp , wondering if you might know.

[2014-01-28 07:50] AOEChamp commented on #28
No, it's not done. Not sure if we care though

[2014-01-28 07:50] Quillwerth commented on #120
Please, not PHP. C# would be preferable as everyone (should!!!!) know it.

[2014-01-28 07:51] FourierTransformer commented on #120
I'm pretty sure if you have [un]managed vps on linode, you can run whatever web apps you want as long as you're within system resources. AKA not limited to PHP.

A "shared" hosting plan would end up with a PHP only system - and likely fail pretty catastrophically as resources likely wouldn't be enough for > 500-1000 people. (or at least that's when non-cached Wordpress fails).

[2014-01-28 07:51] mplewis commented on #44
I'LL... BE... BACK

I'm totally willing to have coffee chats about server arch though! hmu

On Tuesday, January 28, 2014, Patrick Severin notifications@github.com
wrote:

[2014-01-28 08:07] FourierTransformer opened #121 "Update Wiki with "Dirty 2.0" additions"
you know, from the txt document.

[2014-01-28 08:18] AOEChamp commented on #120
Yea, Azure with C# seems like the best option.

[2014-01-28 15:58] JaredPoetter commented on #92
I don't know if I am missing something but what is '100px'? I am sure that it will be obvious once you tell me but it is not clear to me. So maybe you want to clarify what you mean by 100px.

EDIT: Reading through the other tickets I figured out what you guys mean by '100px'. It is the number of pixels. This measurement might have to change to something like meters because I think that the physics

[2014-01-28 16:31] JaredPoetter commented on #108
Conrad, I can help with getting the server if you want me to look into it.

[2014-01-28 16:42] JaredPoetter commented on #113
Just to let you know when you are going to set up the animations because there is an XML file format that you have to follow to import the sprite sheet animations. I am hoping that my animation code will work for your defined animations because I have only tested it on a small hand full of spritesheets.

[2014-01-28 16:49] dawl commented on #92
@bkern24 How does the physics system measure distance?

[2014-01-28 16:52] dawl commented on #75
Collidable maps are currently implemented on the branch etzel/WallCollisions3.  We will need to merge it into develop at some point

[2014-01-28 16:53] #37 closed, assigned to nobody

[2014-01-28 16:53] #22 closed, assigned to nobody

[2014-01-28 16:57] dawl commented on #108
@baylorw if you could fill out the form at http://www.windowsazurepass.com/azureu that would be great.  Getting an azure server up and running would give Adeeb and Eric something to test their networking with.

[2014-01-28 16:58] JaredPoetter commented on #17
This was an idea that Eugene had for me to work on but it is probably not going to happen within the semester.

[2014-01-28 16:58] #17 closed, assigned to JaredPoetter

[2014-01-28 16:59] JaredPoetter commented on #18
I think that I have this working but I have not tested on more than my sprite sheet for the sword animation. So once myself or another developer starts playing with more than the animations that I made last semester this can be closed.

[2014-01-28 17:01] JaredPoetter commented on #19
I actually finished all but variation in the amount of time each frame is. I am going to close it. But there might be a new ticket if people find a bug in my code because once again no one used my code beyond what I did.

[2014-01-28 17:01] #19 closed, assigned to JaredPoetter

[2014-01-28 17:11] FourierTransformer commented on #92
When we were creating the monsters, we didn't know how exactly radius
around the enemy/player is measured (in tiles or pixels), so we went with
pixels - so that's what it is referring to.

On Tue, Jan 28, 2014 at 9:58 AM, Jared Poetter notifications@github.comwrote:

[2014-01-28 17:13] sturmE commented on #17
Crushing my dreams.

[2014-01-29 02:33] AOEChamp opened #122 "Unify Coordinate Systems"
We have multiple different coordinate systems that need to be unified. Until then, weird stuff happens. Right now, our main system has a variable origin, farsee has the origin at (.5, .5) and XNA has an absolute origin(in real world coords, not 0-1 range)

 Things to be decided:

Is Position relative to the top left corner of the box, or to the origin.

What role does origin play? Origin is import

[2014-01-29 04:22] Quillwerth commented on #104
Taking this off of high priority. Yes, it's important, but before we worry about this, the game has to be done.

[2014-01-29 18:57] lingqingmeng commented on #88
Can you explain what you mean by local enemy hierarchy? How would local enemy hierarchy be different than what it is now (1 melee 1 ranged type of enemy)?

[2014-01-29 18:58] Quillwerth commented on #88
It's a separate concept. I won't explain it here (no time) but we'll
discuss it at the next design meeting.
On Jan 29, 2014 12:57 PM, "lingqingmeng" notifications@github.com wrote:

[2014-01-29 19:00] lingqingmeng commented on #116
Do we actually need to bother with the third option of anonymous users? I would vote on only have Registered and Unregistered type of users. What are other people's thoughts on this?

[2014-01-29 19:04] lingqingmeng commented on #89
I shall work on this today

[2014-01-29 19:04] lingqingmeng commented on #117
I shall work on this today
Edit: 2:02 PM - Class UML rough draft completed. Would need Azure server Class UML diagrams to implement further. For now have local and global leaderboard classes and their core methods.

[2014-01-29 19:06] Quillwerth commented on #89
Assign the task to yourself, then.
On Jan 29, 2014 1:04 PM, "lingqingmeng" notifications@github.com wrote:

[2014-01-29 19:07] JaredPoetter commented on #113
Patrick, one note of advise when you are looking for spritesheets for the game make sure that you either create all of them the same way or find them from the same source. The reason you need to take this into account is that Brandon and I ran into a problem when we tried to get a second sprite into the world from another source it showed up a fraction the size even though it was the same pixel co

[2014-01-29 19:30] bkern24 commented on #107
I'll work on this.

[2014-01-29 19:35] bkern24 commented on #99
I'll look into this while I'm working on the grazing, I assume this will to have some standardization among weapons to work. But i will not assign this to me yet until I finish the grazing part so if someone else wants this just comment.

[2014-01-29 20:04] lingqingmeng commented on #120
Is the game going to require a persistent connection or is available to play offline too?

[2014-01-29 20:43] bkern24 commented on #120
I would assume persistent connection for data collection purposes

[2014-01-29 21:35] AOEChamp commented on #122
Good enuff

[2014-01-29 21:35] #122 closed, assigned to AOEChamp

[2014-01-29 21:36] AOEChamp commented on #98
Tower is done, trail is not. Since we have another ticket for trail, closing this

[2014-01-29 21:36] #98 closed, assigned to nobody

[2014-01-29 21:40] Quillwerth commented on #98
So, the tower sits and fires rotationally... but doesn't do damage?
On Jan 29, 2014 3:36 PM, "AOEChamp" notifications@github.com wrote:

[2014-01-29 21:41] AOEChamp commented on #116
The point is to pick one option.

[2014-01-29 21:42] Quillwerth commented on #120
I know it's bad game design, but we're gonna need a persistent connection.
If this was primarily a game project, we'd build a system to allow offline.
But it's not, it's primarily an AI project.
On Jan 29, 2014 2:43 PM, "bkern24" notifications@github.com wrote:

[2014-01-29 21:43] AOEChamp commented on #98
Give me a minute to merge, jeez

[2014-01-29 21:47] eric1989 commented on #112
I can look at this issue.

[2014-01-29 21:48] Quillwerth commented on #98
Can't pull from a phone, bro. Just looking for details... which honestly
should be right here.
On Jan 29, 2014 3:43 PM, "AOEChamp" notifications@github.com wrote:

[2014-01-29 21:50] AOEChamp commented on #98
huh

[2014-01-29 21:51] Quillwerth commented on #112
I know this is where your interests lie, Eric, but we could really use
focus on the high-priority tasks. You can assign this to yourself, but
please take a look at the other tasks and see if you can pick up a few of
those first.

Ping me if you want rationale behind my request.
On Jan 29, 2014 3:47 PM, "eric1989" notifications@github.com wrote:

[2014-01-29 21:59] eric1989 commented on #120
I think we need first to identify what kind of functions a server needs to obtain (specifically).

[2014-01-29 22:01] eric1989 commented on #112
yeah. Sounds good.

[2014-01-30 01:01] JaredPoetter commented on #98
Adeeb please assign yourself so we know what you are working on. I am just wanting to preventing people from working on the same thing and wasting a lot of time.

[2014-01-30 02:05] JaredPoetter commented on #94
I can look into some of these different types of monsters. I will assign myself to the one I am currently working on.

[2014-01-30 02:06] JaredPoetter commented on #95
I can look into some of these different types of monsters. I will assign myself to the one I am currently working on.

[2014-01-30 02:06] JaredPoetter commented on #93
I can look into some of these different types of monsters. I will assign myself to the one I am currently working on.

[2014-01-30 02:07] JaredPoetter commented on #92
I can look into some of these different types of monsters. I will assign myself to the one I am currently working on.

[2014-01-30 02:07] JaredPoetter commented on #91
I can look into some of these different types of monsters. I will assign myself to the one I am currently working on.

[2014-01-30 02:10] JaredPoetter commented on #105
I think that this is not going to be one of the high priority items this time around. I think that we should get the modifier system working with move speed up and damage up first. Just want to make sure whoever is working on this is not going to spin their wheels on something.

[2014-01-30 02:10] JaredPoetter commented on #106
I think that this is not going to be one of the high priority items this time around. I think that we should get the modifier system working with move speed up and damage up first. Just want to make sure whoever is working on this is not going to spin their wheels on something.

[2014-01-30 02:12] JaredPoetter commented on #97
Unless this is the same thing as the firepower attack code this is something that can wait for the other parts to be completed because I think that there is going to be plenty of other things to work on for this week without this.

[2014-01-30 02:13] JaredPoetter commented on #118
This means that we are going to need to have a normal range to each of the range weapons so that we can have a range up.

[2014-01-30 02:14] JaredPoetter commented on #119
I think that this is not going to be one of the high priority items this time around. I think that we should get the modifier system working with move speed up and damage up first. Just want to make sure whoever is working on this is not going to spin their wheels on something. Also we do not have AOE attacks yet so that would have to come first.

[2014-01-30 17:29] JaredPoetter commented on #117
We do not need to focus on the leaderboard until we have a working game that can use the leaderboard. I would work on some of the other High Priority issues before you go to much further.

[2014-01-30 17:48] JaredPoetter commented on #99
I just had the idea that if we implement the Modifier System correctly we can use it not only as an increase in the amount of damage or speed but also as a decrease in the speed or range of an enemy. This can be used by a special item that the player can use. Or the system can use the modifiers to make the game easier and harder in the scenario creation.

This might have already been talked about

[2014-01-30 18:09] FourierTransformer commented on #99
The enemy modifiers was designed to make the game easier/harder during
scenario creation. Patrick and I didn't really want these to be applied to
the player's weapons- as that should remain constant in this weird battle
of determining scenario difficulty and player skill (aka eliminate
variables that we don't know how to factor in).

On Thu, Jan 30, 2014 at 11:48 AM, Jared Poetter notifications@gi

[2014-01-30 18:11] JaredPoetter commented on #99
That is true. I wasn't thinking about that additional variable for the server AI to create or judge the scenario difficulty.

[2014-01-30 18:13] JaredPoetter commented on #89
Just to clarify, are you talking about player weapons only?

[2014-01-31 00:42] lingqingmeng commented on #117
Got it. Will delay this until further notice.

On Thu, Jan 30, 2014 at 11:29 AM, Jared Poetter notifications@github.comwrote:

[2014-01-31 04:49] eric1989 opened #124 "A* need to be modified in order to cooperate with the wall."
I just find that there is a wall between you and an enemy. The enemy cannot find a path to walk around the wall to you. They just face to you and do some thing. This needs to be modified.

[2014-01-31 05:20] JaredPoetter commented on #124
My guess is that you will need to do something with the definition of the map so you can have the AI know when it is near a wall.

[2014-01-31 05:22] AOEChamp commented on #124
There is an array of tiles in the map class. Each tile has a passability
bool which will tell you whether it is a wall or not

On Thu, Jan 30, 2014 at 11:20 PM, Jared Poetter notifications@github.comwrote:

[2014-01-31 14:13] bkern24 commented on #124
Ray casting is also available in the Physics class, so see Github wiki on how to use it.

[2014-01-31 15:20] eric1989 commented on #124
@AOEChamp I think you are right. We just set a boolean which will tell you whether it is a wall or not.
If it is a wall, then you cannot pass it, my guess is that we also need to modify the right rate for the wall in the A*, in order to let AI know this path is not shortest path.

[2014-01-31 15:21] eric1989 commented on #124
I have not see the code yet. But, my guess for the map is equal rights. So, we need to change rights for the wall.

[2014-01-31 15:58] JaredPoetter commented on #108
@AOEChamp @dawl Adeeb could you let Conrad or myself know if you do not get a server from that form because we can email Microsoft about the server and figure out what we need to do to get the server. Thanks.

[2014-01-31 18:32] bkern24 commented on #124
If i am understanding this correctly. The wall tiles have already been setup as an entity correct @dawl ??? Then you use ray casting to grab all entities in your path and then check what entities they are. i.e if the entity has a wallComponent (Or whatever its called, asked Conrad) then that would mean a wall is in your way.

You should not have to worry about the actual tiles of the map as that i

[2014-02-01 08:11] AOEChamp commented on #104
The capture system is done. Just need to capture the relevant data now

[2014-02-01 22:48] Duffman9205 commented on #95
Here's how I'm thinking the monster's weapon will work:
1. Launch projectile that stops at range (instead of being destroyed)
2. after stopping, start a timer
3. when timer expires, detonate

if the projectile ever collides with the player, detonate

I've figured out how to create an AoE field by firing an event, but I'm having trouble figuring out the points leading up to firing it.
@AOEChamp , s

[2014-02-02 19:37] bkern24 commented on #91
@fualkner and design team. So right now I am designing the sniper to only show the laser when the player is present within the snipers range.

The sniper will run away if the player comes to close.

Is this similar to the concepts you guys were thinking?

[2014-02-02 19:41] FourierTransformer commented on #91
This sounds about right. Just wait on @fualkner to fully confirm.

On Sun, Feb 2, 2014 at 1:37 PM, bkern24 notifications@github.com wrote:

[2014-02-02 19:49] Quillwerth commented on #91
I thought the Sniper had a global range. Did we not write that?

And yes, sniper retreats when the player gets close. He also stops aiming /
firing at this time.

And Shak... it's fualkner. Note the vowel order. You won't tag me unless
it's spelled right (or wrong, I suppose)
On Feb 2, 2014 1:41 PM, "Shakil Thakur" notifications@github.com wrote:

[2014-02-02 19:56] FourierTransformer commented on #91
@fualkner - we definitely didn't specify. Might've been something implied
that we forgot to explicitly state. Sorry about that. But, yeah, global
should be fine. It will likely need some play-testing to determine if it's
too OP or not.

#VowelOrderMatters

On Sun, Feb 2, 2014 at 1:49 PM, Patrick Severin notifications@github.comwrote:

[2014-02-02 20:15] bkern24 commented on #91
Alright, I can always change the range. The only issue with changing the range for testing is also changing the sprite for the laser. Right now the laser just remains the same size. However, I would like to create sprite animation for the laser, but for now it really doesn't matter. (i.e it won't change the gameplay)

[2014-02-02 20:16] AOEChamp commented on #91
I'm assuming the laser will start at an angle and slowly rotate to the
player until it locks on?

On Sunday, February 2, 2014, bkern24 notifications@github.com wrote:

[2014-02-02 20:19] bkern24 commented on #91
Thats what my goal is, just for now the laser will always be the same length no matter the distance of the player. I'm hoping to get another 3 hours to work on it tonight, otherwise I will finish it Monday night for sure..... I spent way too much time figuring out Animation, and got no where :(

[2014-02-02 20:20] Quillwerth commented on #91
@AOEChamp the laser doesn't "lock on", per say: if the player crosses it
and keeps moving, the laser will have to follow them in the opposite
direction than it was going.

Can't we just place laser sprites end to end to make a laser of arbitrary
length?
On Feb 2, 2014 2:16 PM, "AOEChamp" notifications@github.com wrote:

[2014-02-02 20:22] AOEChamp commented on #91
Could implement a repeat, or stretch it using the scale option

On Sunday, February 2, 2014, Patrick Severin notifications@github.com
wrote:

[2014-02-02 20:24] bkern24 commented on #91
Like I said I wasn't sure how to work with sprites. As far as I was concerned the sprite displayed its actual size....

@AOEChamp  where is a scaling option present?

[2014-02-02 20:25] AOEChamp commented on #91
SpriteComponent has a scale property.

On Sunday, February 2, 2014, bkern24 notifications@github.com wrote:

[2014-02-02 20:26] bkern24 commented on #91
Alright well I'll look into it after I finish the actual movement of the laser then. Thanks guys

[2014-02-02 20:34] bkern24 commented on #91
@fualkner Oh yeah how close is too close by the way? As in when should the sniper run away from the player?

[2014-02-03 01:45] Quillwerth commented on #91
Damn, did we not specify that either? Sad... okay, 200 pixels. Make sure
that that number is easily accessible, so we can rebalance the stats easily.
On Feb 2, 2014 2:34 PM, "bkern24" notifications@github.com wrote:

[2014-02-03 15:37] lingqingmeng commented on #113
I'de like to work on this Today, as we discussed in the Design team meeting Saturday, so feel free to re-assign the work to me (not sure how to do that in github).

EDIT: Figured out how to reassign

[2014-02-03 15:50] JaredPoetter commented on #113
I am thinking that there are going to be multiple parts to this ticket.
Part 1: Find the spritesheets to use. Try to make them all from the same game or artist.
Part 2: Create the code, aka XML, for the sprites.
Part 3: Making sure they are the correct size and scale.
So we are going to need to discuss this.

[2014-02-03 16:10] FourierTransformer commented on #94
@AOEChamp, why is the way we do AI going to make everything super hacked together? We should probably bring this up at today's meeting?

[2014-02-03 16:11] lingqingmeng commented on #113
Sounds good, I'm all up for more discussion to clarify this better. Would it be better to do in person? If you can email me the basics I could research/expand on that too.

I'm reading up on the code that has to deal with Sprites. So far I've seen that .png and .xml are the most commonly used Data sources.

So in order for spritesheets to be usable, do they have to have the .xml file with it? If a

[2014-02-03 16:28] lingqingmeng commented on #113
Are we able to use this resource?
http://gaurav.munjal.us/Universal-LPC-Spritesheet-Character-Generator/#

GNU public license: http://gaurav.munjal.us/Universal-LPC-Spritesheet-Character-Generator/LICENSE

I was able to generate this using it. It basically fulfills all our needs if we're able to use their images since we can generate basically any possibility (in the realm of medieval sprites).
![

[2014-02-03 16:48] bkern24 commented on #94
Its not too bad, i mean if you seperate the monsters by components you can use your own ai method. Just have to make sure you follow along with returning vector2 if you want movement

[2014-02-03 16:49] bkern24 commented on #94
Or i should say its useable and we dont have time to redo it.

[2014-02-03 16:55] FourierTransformer commented on #121
Dirty 2.0 Game Mechanics Added!

https://github.com/4950/ShittyPrototype/wiki/Game-Mechanics

[2014-02-03 17:56] JaredPoetter commented on #121
Thanks for posting this, it should help the team know what we all are trying to develop in the game. I also put a link to the page on the sidebar of the Wiki page, for quick access to the page.

[2014-02-03 18:00] JaredPoetter commented on #113
It will be better for me to explain the spritesheet code in person because there are a lot of little things to talk about. You can read through this it should get you started with understanding what the XML is used for; https://github.com/4950/ShittyPrototype/wiki/Animation.

[2014-02-03 18:03] JaredPoetter commented on #113
Also the XML is just a file structure that I came up with so you will not find anything like the XML with a spritesheet online.

[2014-02-03 18:54] FourierTransformer commented on #121
Yeah, I was wondering how to do that and was going to ask you a little
later on today. Anyway, there should be a few more updates coming from the
design team.
On Feb 3, 2014 12:21 PM, "Jared Poetter" notifications@github.com wrote:

[2014-02-03 19:11] JaredPoetter commented on #113
Another note is that we are only needing to have simple sprites for right now to get the game to look presentable in an alpha state. Once we start getting more monsters implemented in the game and some of the other features into the game we need to go back through and put in different animations for different weapons and monsters.

[2014-02-03 20:25] AOEChamp commented on #113
That sprite generation site might be perfect for creating monsters

On Monday, February 3, 2014, Jared Poetter notifications@github.com wrote:

[2014-02-04 15:12] JaredPoetter commented on #18
I think that this is working but I might not be surprised if there would be a bug found in it when people start using it more.

[2014-02-04 15:12] #18 closed, assigned to JaredPoetter

[2014-02-04 15:14] JaredPoetter commented on #104
Adeeb please ASSIGN yourself and CLOSE the tickets that you complete. So we do not waste time developing something more than once.

[2014-02-04 15:16] AOEChamp commented on #104
I didn't want to close it until we were sure everything necessary was being
captured

On Tuesday, February 4, 2014, Jared Poetter notifications@github.com
wrote:

[2014-02-04 15:51] JaredPoetter commented on #113
I will work on writing the SpriteSheet XML this morning that should work for all of the spritesheets that are generated from the site that Ling found. I figured instead of someone else trying to learn how to do the XML for animation I would just do it because I would be one of the fastest at it because I wrote the animation code.

[2014-02-04 15:53] JaredPoetter commented on #93
@dawl I will assign this to myself if I get done with the XML for the animations of the new spritesheets that Ling found.

[2014-02-04 16:39] JaredPoetter opened #128 "Write new XML code for the new SpriteSheet"
Writing the new XML that will work with any of the spritesheets that we can create from this website: http://gaurav.munjal.us/Universal-LPC-Spritesheet-Character-Generator/#

[2014-02-04 17:19] JaredPoetter commented on #128
We should have all of the sprites working with the new animation code as soon as possible. I can work on transitioning all the old sprites to the new ones.

[2014-02-04 19:47] JaredPoetter commented on #128
I got the XML code written for the animations on the new spritesheets.

[2014-02-04 19:47] #128 closed, assigned to JaredPoetter

[2014-02-05 21:52] dawl commented on #90
Player health is set to 100 by default.  Closing this issue

[2014-02-05 21:52] #90 closed, assigned to nobody

[2014-02-05 21:53] #75 closed, assigned to dawl

[2014-02-05 21:57] dawl commented on #64
@AOEChamp Is this issue finished? If so are we good to close it?

[2014-02-06 16:26] JaredPoetter commented on #92
@eric1989 I am just wanting to check in with you. What is the state of this monster? I know that the other developers are being slow in development but I have not see any code push to the repo from you about this monster. If you are having problems please let myself or  Conrad (@dawl) know ASAP.

[2014-02-07 01:02] FourierTransformer commented on #90
We also did the Player speed, I thought it was here...

[2014-02-07 01:27] JaredPoetter commented on #111
Hit Rate: (Number of Hits on Monsters)/(Total Number of Attacks)
Damage Dealt: 1 -[ (Sum of the Remaining Monsters Health)/(Sum of the Maximum Monsters Health)]
Kill Rate: (Number of Monster Kills)/(Number of Spawned Monsters)
Health Remaining: (Player Health) / 100

Things that we have to record to get the player score:
- Number of Hits on Monsters
- Total Number of Attacks
- Sum of the Remaining

[2014-02-07 01:39] JaredPoetter commented on #109
Start working one loading the scenarios from XML for each of the maps.

[2014-02-07 01:54] JaredPoetter opened #131 "SoundEffects for weapons & Background Music"
SoundEffects for the weapons, Background Music and a Sound System to play the sounds.

[2014-02-07 01:59] JaredPoetter commented on #106
Not doing

[2014-02-07 01:59] #106 closed, assigned to nobody

[2014-02-07 02:00] JaredPoetter commented on #105
Not doing

[2014-02-07 02:00] #105 closed, assigned to nobody

[2014-02-07 02:00] JaredPoetter commented on #97
Not doing

[2014-02-07 02:00] #97 closed, assigned to nobody

[2014-02-07 02:00] JaredPoetter commented on #96
Done

[2014-02-07 02:00] #96 closed, assigned to nobody

[2014-02-07 02:01] JaredPoetter commented on #94
Done

[2014-02-07 02:01] #94 closed, assigned to FourierTransformer

[2014-02-07 02:01] JaredPoetter opened #132 "Loading a scenario"
Loading a scenario from XML for a map.
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]

[2014-02-07 02:02] JaredPoetter commented on #119
Not doing

[2014-02-07 02:02] #119 closed, assigned to nobody

[2014-02-07 02:02] JaredPoetter commented on #118
Not doing

[2014-02-07 02:02] #118 closed, assigned to nobody

[2014-02-07 02:04] JaredPoetter opened #133 "Fix the damage of the Player Weapons"
Fix the damage of the Player Weapons

[2014-02-07 23:20] JaredPoetter opened #134 "Potential Bug In AnimationByFrame XML Loading"
I think that there might be a potential bug in the XML code for loading AnimationsByFrame. If we are going to be using this I will investigate it more but for now just look out.

The problem is that the XML loading just continues down the rest of the XML without stopping at the next AnimationsByFrame or DefaultAnimation.

[2014-02-08 21:25] #104 closed, assigned to AOEChamp

[2014-02-08 22:06] JaredPoetter commented on #109
Done with loading the scenario XML.
Need to put in the Player Spawn point in the scenario.

[2014-02-09 00:31] lingqingmeng commented on #93
Essential requirements completed:

Currently:
Can drop mines
They do damage
AI implemented
New Weapon type "Landmine"
New Monsters.xml files: LandmineDropper and LandmineWeapon

TODO:
Hitbox change to match sprite
General balance tweaking

[2014-02-09 02:51] lingqingmeng commented on #93
Just lost code. Another 4 hours

[2014-02-09 02:57] lingqingmeng commented on #93
Above commit was for Landmine Dropper, and I buffed Scattershot for testing purposes, feel free to change it back to normal values (1 sec cooldown, 25 damage). Note: The game actually has a lot of monsters now so you might need it :)

[2014-02-09 02:57] #93 closed, assigned to lingqingmeng

[2014-02-10 17:12] JaredPoetter commented on #132
Got a version 1 done which allows for the game to load in a XML with multiple scenarios. Each scenario can have as many monster spawners as you wish.

Version 2 is going to have a couple of additions to the things that you can specify like the monster modifier for the spawner. The location of the players spawn so that we can easily change it for the different maps.

[2014-02-10 17:14] JaredPoetter commented on #109
Removing myself from this ticket because I am working on loading the XML for the scenario which in the ticket #132.

[2014-02-11 02:38] JaredPoetter opened #142 "Separate the loading game former restarting game"
This will make it so we can have restart from the main menu after death.

[2014-02-11 15:47] bkern24 commented on #91
@fualkner @FourierTransformer
So I have come across an issue with the sniper when he is attacking. If he is attacking (looking for the player) and he gets hit by an enemy or player, the sniper moves but the laser does not. My question is, is it alright if the sniper becomes "Static" (Rather than Dynamic) when he is searching for the player?

This means that the sniper cannot be moved by enemies or

[2014-02-11 15:53] FourierTransformer commented on #91
hmm, so a real-life sniper would be laying dow and not able to take
knockback. Yeah, I'm game if you need to keep him static.

On Tue, Feb 11, 2014 at 9:47 AM, bkern24 notifications@github.com wrote:

[2014-02-11 19:18] FourierTransformer commented on #131
@AOEChamp and I took care of this. Should be in dev now.

[2014-02-11 19:19] FourierTransformer commented on #131
Just leaving this open, as we may have to secure more sound effects for different enemies in the future.

Once I get the chance to play with it, I'll see what's going on with it.

[2014-02-11 19:20] FourierTransformer opened #144 "Change Game Controls"
Add Q+E to cycle weapons and Left/Right mouse click to fire.

[2014-02-11 19:20] FourierTransformer commented on #144
... pretty much done. Just need to commit and ask for a pull request.

[2014-02-11 19:22] FourierTransformer commented on #91
Also, I'm sure you're aware, but this guys laser keeps spinning after you kill him (just something that came up at the meeting)

[2014-02-11 19:24] FourierTransformer commented on #95
So @Duffman9205, there was a slight change that was done to this guy at today's meeting. If the player is within the max-distance of the grenade toss, the grenade should stop near the player. (aka trajectory's max distance is now how far the player is).

This way, grenades don't overshoot the player.

[2014-02-11 19:25] FourierTransformer commented on #73
We are going to allow strafing, so this isn't really needed anymore.

[2014-02-11 19:25] #73 closed, assigned to nobody

[2014-02-11 19:28] FourierTransformer commented on #133
Update: I thought I was done, but then I plugged in a mouse and tried playing the game- holy crap, things just got easy (I went from not being able to beat round 3, to getting to round 5 - but then AOE mines got me). I'll keep balancing it in the meanwhile.

[2014-02-11 19:29] FourierTransformer opened #145 "Fix Animation(s)"
Fix the sword animation and the speed of the bow attack(s) and any sprite sheets as necessary

[2014-02-11 19:30] FourierTransformer commented on #145
Quick Update: Pretty much done. Just need to hack together a new player sprite with sword and bow animations. A little Photoshop and this should be done.

[2014-02-11 21:10] JaredPoetter opened #146 "Bug with Changing the Location of the Player"
@AOEChamp @bkern24 I was wondering if either of you or anyone else has an idea of what is going wrong. I am not able to change the location of the player after the player entity is created in the entity factory. Here is basically what my code is trying to do in just a couple of lines. Just put them in after the adding of the player weapons to the player and see if you can find anything wrong with

[2014-02-11 21:22] JaredPoetter commented on #146
Update: I might have found a problem with the Entity/Component/System framework or just something to look out for. If I remove the player.Refresh(); in the setup of the player and then do it after I change the Spatial it works. So you might not be able to call the refresh function more than once per pass through the game's systems.

Let me know if you run or ran into this bug anywhere else. Maybe

[2014-02-11 21:39] sturmE commented on #146
ill take a look at this tonight.

On Tue, Feb 11, 2014 at 3:22 PM, Jared Poetter notifications@github.comwrote:

##

Eugene Sturm

[2014-02-11 21:42] JaredPoetter commented on #146
@sturmE Thanks I am assuming that this is not the desired outcome. But it is at least easily repeatable bug. I hate the ones that you are not able to repeat every time.

[2014-02-11 21:44] sturmE commented on #146
I saw someone added a flag for e.isDataEntity in the refresh call. Verify that isnt the issue before I dig deeper since I dont know the purpose of that haha.

[2014-02-11 21:46] JaredPoetter commented on #146
Can you see who added that line?

[2014-02-11 21:49] sturmE commented on #146
I'm in my phone. The refresh call is in World class
On Feb 11, 2014 3:46 PM, "Jared Poetter" notifications@github.com wrote:

[2014-02-11 21:51] JaredPoetter commented on #146
I thought that you were on the GitHub app I will see who added the line if you didn't.

[2014-02-11 21:53] sturmE commented on #146
Thats too much effort
On Feb 11, 2014 3:51 PM, "Jared Poetter" notifications@github.com wrote:

[2014-02-11 21:56] JaredPoetter commented on #146
Well it looks like it is @AOEChamp code change so do you think that is the change the broke the code? I can ask him about more tomorrow but he will probably respond to this issue because he has gotten all of these comment as emails.

[2014-02-11 23:20] sturmE commented on #146
I'm not saying it broke it. I'm just saying that it is something that would
prevent a refresh and I don't know what that flag is used for.
On Feb 11, 2014 3:56 PM, "Jared Poetter" notifications@github.com wrote:

[2014-02-12 01:07] sturmE commented on #146
Also, your example code looks like you are calling Refresh() after updating a component that is already a part of the entity. Refresh() is meant to be called after you add new components, not after you alter components.

[2014-02-12 01:29] AOEChamp commented on #146
Data entities are not refreshed, yes. But the player entity is not a data entity. The reason position does not change after a refresh is because of the physics system. From then on, the spatial position is set by physics.

[2014-02-12 04:55] AOEChamp commented on #142
Dones

[2014-02-12 04:55] #142 closed, assigned to AOEChamp

[2014-02-12 06:19] FourierTransformer commented on #145
Done. New player animation should be in with the latest merge.

[2014-02-12 06:31] FourierTransformer commented on #133
So I think most of it is scaled decently. Sniper is still OP. I'll get to it after more play-testing soon enough.

[2014-02-13 15:50] lingqingmeng commented on #133
Who made mines AOE? Did you do anything else to modify mines? Just asking
since I was working on making Mines inflict damage even when mineDropper
enemy died, and also to make a limit (5) on the number of mines any given
mineDropper can drop.

On Wed, Feb 12, 2014 at 12:31 AM, Shakil Thakur notifications@github.comwrote:

[2014-02-13 17:14] JaredPoetter opened #152 "Documentation on Scenario.xml creation in the GitHub Wiki"
A wiki page on GitHub about how to write the XML for the scenarios. Seems this is a huge part of the game I am going to spend an hour or two to document it. That way the network developers, the designers and other developers will be able to test and create new scenarios.

[2014-02-13 19:50] Quillwerth opened #153 "Remove Hitbox Visual Effect"
Pretty sure this was already done, but stop drawing the hitboxes. Leaving this as a debug option might be a good idea.

[2014-02-13 19:51] Quillwerth opened #154 "Sniper Laser should disappear on Sniper Death"
All in the title. A dead sniper should take the laser with him to the grave.

[2014-02-13 19:57] Quillwerth opened #155 ""Dud" Landmines"
MineLayers are connected to the mines they lay, insofar as when the MineLayer dies, their mines become "duds": they do no damage upon touching them. This shouldn't be the case.

[2014-02-13 19:59] Quillwerth opened #156 "Cache Explosion Animation before Game Begins"
The explosion animation (Suicide Bomber, Grenadier, etc) lags the game slightly when it appears for the first time, because it needs to be loaded from file. This shouldn't happen. Make sure the sprite is loaded before the game begins.

[2014-02-13 20:04] Quillwerth opened #158 "Lock cursor to window / Pause on loss of window focus"
Make sure we can't click out of the game while we're playing. Additionally, if we lose window focus (Alt+Tab), the game should pause.

Needs #159

[2014-02-13 20:06] Quillwerth opened #159 "Pause Screen"
A pause screen should appear upon pressing Esc. It'll stop the game, and present three buttons: "Resume", "Return to Menu", "Exit Game". It'd be cool if the overlay were transparent, so someone can see how they're about to die, when they unpause ;)

[2014-02-13 20:09] Quillwerth opened #160 "Wallhugger needs to be refactored"
We did this for the most part on Monday, but:
- Slower shot
- Actually follow the wall
- Extended range?

I'll let @dawl make the calls on this one.

[2014-02-13 20:11] Quillwerth opened #161 "Mines need to disappear at round end"
All in the title. Mines need to be cleaned up when a round ends. Related to #155

[2014-02-13 20:28] Quillwerth opened #162 "Knockback: "Tweening" frames"
When a character (player or enemy) gets hit, they get knocked-back instantly. This is very disorienting, as there's nothing for the player's eye to track. What we need are tweening frames.

A "tween" is an animation technique where the same image is moved _between_ a start and end position. Basically, all we need to do is pan the image between the original position, to the terminal position of the

[2014-02-13 20:29] Quillwerth opened #163 "Rebalance Weapons"

[2014-02-13 20:35] Quillwerth opened #166 "Grenades should always explode when thrown"
All in the title. If a grenadier dies, his grenades disappear. This makes no sense.

[2014-02-13 20:41] #159 closed, assigned to AOEChamp

[2014-02-13 20:42] Quillwerth opened #167 "Grenades should land at player's feet, if they're in range"
When a grenade is thrown it should:
- land at the player's feet (or close)
- or, land at the maximum range, in the direction of the player
  whichever is a smaller distance.

[2014-02-13 20:43] #153 closed, assigned to nobody

[2014-02-13 20:43] #154 closed, assigned to nobody

[2014-02-13 20:43] #144 closed, assigned to FourierTransformer

[2014-02-13 20:44] bkern24 commented on #91
Technically this is done

[2014-02-13 20:44] #91 closed, assigned to bkern24

[2014-02-13 20:47] Quillwerth opened #168 "Mobs touching the outer border of the map lose their healthbar"
this includes the player.

Note that this isn't when you're touching the outer _wall_ , it occurs only when there is no wall to touch. So if you put walls around the border of all the maps... **shrug** okay

[2014-02-13 20:48] JaredPoetter commented on #146
Yea I guess I did not think about going back to this ticket after I
 figured out that the Physics system is the problem.

Thanks
Jared Poetter

On Tue, Feb 11, 2014 at 7:29 PM, AOEChamp notifications@github.com wrote:

[2014-02-13 20:51] Quillwerth opened #169 "Flametower Fire should disappear after Tower Death"
All in the title. Right now, it seems to complete the rotation it's on. I don't know if it's still doing damage at the point, but I'd be willing to guess it does.

[2014-02-13 20:53] Quillwerth opened #170 "At round end, a menu with a button to continue on to the next round"
All in the title. Also, congratulate them on surviving yet another round. Yaaaay.

[2014-02-13 20:59] JaredPoetter commented on #170
Maybe you can have a running counter on how many scenarios they have
completed in that sitting or all together. Also you can show some sort of
score for the scenario.

On Thu, Feb 13, 2014 at 2:53 PM, Patrick Severin
notifications@github.comwrote:

[2014-02-13 21:09] JaredPoetter commented on #146
I am going to close this because I am thinking that it might not be a bug but just a thing that is going to be there when we are using the Physics system.

[2014-02-13 21:09] #146 closed, assigned to nobody

[2014-02-13 22:10] #158 closed, assigned to nobody

[2014-02-13 22:15] AOEChamp commented on #170
I think some text saying round whatever plus a 5 or 10 second countdown would be better. NO BREAKS

[2014-02-13 22:16] AOEChamp commented on #168
I vote wallz

[2014-02-13 22:19] JaredPoetter commented on #168
I vote for walls too because that will also give the maps a more natural
look compared to the abrupt transition from the map to the end of the
screen.

On Thu, Feb 13, 2014 at 4:16 PM, AOEChamp notifications@github.com wrote:

[2014-02-13 22:21] JaredPoetter commented on #170
Well lets code it one way but make it possible to change it to the other
way either by a setting or a somewhat quick code change. Because we might
find out that the people want a break or they do not.

On Thu, Feb 13, 2014 at 4:15 PM, AOEChamp notifications@github.com wrote:

[2014-02-13 22:48] #168 closed, assigned to nobody

[2014-02-13 22:58] AOEChamp commented on #170
Think Arcade games. You do or you die :P

[2014-02-14 00:25] dawl commented on #160
Done

[2014-02-14 00:25] #160 closed, assigned to dawl

[2014-02-14 00:25] dawl commented on #155
Done

[2014-02-14 00:59] dawl commented on #167
Closed

[2014-02-14 00:59] #167 closed, assigned to nobody

[2014-02-14 01:10] #166 closed, assigned to Duffman9205

[2014-02-14 16:47] lingqingmeng commented on #170
Food for thought: If they have a pause button, they won't care. They'll
just pause when the round starts.

On Thu, Feb 13, 2014 at 4:58 PM, AOEChamp notifications@github.com wrote:

[2014-02-14 20:30] JaredPoetter commented on #170
Then we should have a dedicated ‘pause’ button and have it shown somewhere on the screen or before the scenario starts so they know how to. If we do not have it shown at that time they might frantically try to find some way to pause and then they end up getting killed and that will hurt their player score some.

On Feb 14, 2014, at 10:47 AM, lingqingmeng notifications@github.com wrote:

[2014-02-15 04:57] AOEChamp commented on #170
I think you guys will like it :P

[2014-02-15 04:57] #170 closed, assigned to AOEChamp

[2014-02-15 04:59] AOEChamp commented on #29
Irrelephant

[2014-02-15 04:59] #29 closed, assigned to nobody

[2014-02-15 05:00] AOEChamp commented on #33
Sprite size and spatial size are independent.

[2014-02-15 05:00] #33 closed, assigned to JaredPoetter

[2014-02-15 05:01] AOEChamp commented on #42
Pretty sure this isn't needed anymore

[2014-02-15 05:01] #42 closed, assigned to nobody

[2014-02-15 05:02] AOEChamp commented on #50
Not part of game specs anymore

[2014-02-15 05:02] #50 closed, assigned to nobody

[2014-02-15 05:02] AOEChamp commented on #62
Fixed a while ago

[2014-02-15 05:02] #62 closed, assigned to nobody

[2014-02-15 09:13] AOEChamp commented on #64
Done, only took 5hrs

[2014-02-15 09:13] #64 closed, assigned to nobody

[2014-02-15 09:14] #28 closed, assigned to nobody

[2014-02-15 09:14] AOEChamp commented on #28
Not integrate-able anymore since it's 3d.

[2014-02-15 19:16] bkern24 opened #178 "Sniper says its Constantly reloading"
This is perhaps due to it still being Infinite I assume

[2014-02-15 19:17] bkern24 opened #179 "Weird Line Perpendicular to Player on Map"
Not sure what is causing it

[2014-02-15 20:50] bkern24 opened #180 "Timing of KeyPress causes incorrect direction of player"
Say I press "up" and then as I let go of the "up" key and press "right".... The player will be locked to "up" movement only until I release "right"

[2014-02-15 21:48] AOEChamp commented on #179
Yea, trying to fix it :/ It's screen tearing or strobing or some such 3d artifact

[2014-02-15 21:50] AOEChamp commented on #180
Hmm, either I failed in implementing the key queue, or Shak's extra keys messed it up. I'll take a look

[2014-02-15 22:06] FourierTransformer commented on #180
It was like that before I showed up. So, it wasn't me!
On Feb 15, 2014 3:50 PM, "AOEChamp" notifications@github.com wrote:

[2014-02-15 22:07] AOEChamp commented on #180
Someone want to pull my branch and see if it's gone? I can't reproduce it.

[2014-02-15 22:16] bkern24 commented on #180
I pulled your branch, and I can reproduce it. It doesn't happen every time, and it doesn't have to be up and the right keys. Its any combination of two directions

[2014-02-15 22:55] AOEChamp commented on #180
Well, I'm not able to reproduce it with any key combinations. If the latest path doesn't fix it, then my guess is it's not related to movement so much as the InputManager. We don't get key events, instead we poll every frame. So it's possible that on laggy machines, some input gets skipped.

[2014-02-15 23:01] AOEChamp commented on #178
Yes, it's because the sniper has a cooldown of 0. Someone needs to rebalance it(Shak?)

[2014-02-15 23:02] #131 closed, assigned to AOEChamp

[2014-02-15 23:03] AOEChamp commented on #133
Duplicate of #163

[2014-02-15 23:03] #133 closed, assigned to FourierTransformer

[2014-02-15 23:20] FourierTransformer commented on #178
Yeah, it's fixed, I need to push at some point. Likely tomorrow
On Feb 15, 2014 5:01 PM, "AOEChamp" notifications@github.com wrote:

[2014-02-16 05:16] AOEChamp commented on #56
Don't think we need this

[2014-02-16 05:16] #56 closed, assigned to JaredPoetter

[2014-02-16 05:18] AOEChamp commented on #72
Done years ago

[2014-02-16 05:18] #72 closed, assigned to nobody

[2014-02-16 05:18] #89 closed, assigned to lingqingmeng

[2014-02-16 23:52] FourierTransformer opened #186 "Tile collision seems to be 1 tile off?"
Tile collision seems to be 1 tile lower in the "y" direction on all of the maps. This seems to be a recent development. (and causes some serious issues with the new Cave)

@AOEChamp @dawl you guys have done some mapping stuffs, any idea what's up?

[2014-02-17 01:20] AOEChamp commented on #186
It's just the bounding box on the player. Enable physics debug to see.

[2014-02-17 01:21] #179 closed, assigned to nobody

[2014-02-17 02:10] FourierTransformer commented on #186
wait, are we really using physics to determine tile collisions? oh boy...

On Sun, Feb 16, 2014 at 7:20 PM, AOEChamp notifications@github.com wrote:

[2014-02-17 02:19] AOEChamp commented on #186
Physics for days

[2014-02-17 03:46] bkern24 opened #188 "Mines do no damage?"
Do we know about this or is this a bug?

[2014-02-18 00:31] lingqingmeng commented on #145
Reopening for long sword over dagger

[2014-02-18 00:31] lingqingmeng commented on #155
Reopening for despawn part

[2014-02-18 00:33] lingqingmeng commented on #155
Closed as of this commit.

Mines do damage if its owner dies. The mine stays there until..
Mines get cleared when level is over.

https://github.com/4950/DirtyGame/commit/1805cc7a99277581d033ab53b78173f80057ffd8

[2014-02-18 00:33] #155 closed, assigned to dawl

[2014-02-18 00:33] lingqingmeng commented on #145
https://github.com/4950/DirtyGame/commit/1805cc7a99277581d033ab53b78173f80057ffd8

Closed as of this

[2014-02-18 00:33] #145 closed, assigned to FourierTransformer

[2014-02-18 00:36] lingqingmeng commented on #188
See https://github.com/4950/DirtyGame/issues/155

[2014-02-18 00:36] #188 closed, assigned to nobody

[2014-02-18 00:38] JaredPoetter opened #190 "Fix boundary size and location on monsters and player"
Fix boundary size and location on monsters and player. Move it to the torso.

[2014-02-18 00:44] lingqingmeng opened #191 "Attack endswing should return to default frame"
An attack should end on the default frame instead of the last frame of the respective attack animation. For example, at the end of a sword swing, you see the player have his sword extended instead of going back to the default non-attacking animation.

[2014-02-18 00:50] lingqingmeng opened #192 "Sword animation recentered"
Currently, we are using 6 192x192 sprite image's to simulate a sword swing (player melee attack). The spite should center on the middle 64x64 block, e.g. if this were 9 64x64 blocks....

a o o
o x o
o o o

right now the sprite seems to center at the "a" position, instead of the x. Which means when a player attacks, he seems to teleport to the "x" position for the duration of the attack.

I should

[2014-02-18 00:50] lingqingmeng opened #193 "Sword animation recentered"
Currently, we are using 6 192x192 sprite image's to simulate a sword swing (player melee attack). The spite should center on the middle 64x64 block, e.g. if this were 9 64x64 blocks....

a o o
o x o
o o o

right now the sprite seems to center at the "a" position, instead of the x. Which means when a player attacks, he seems to teleport to the "x" position for the duration of the attack.

I should

[2014-02-18 01:07] Quillwerth opened #194 "transparent "Get Ready""
So we can see the player underneath.

[2014-02-18 01:08] Quillwerth opened #195 "retreat behaviour: avoid walls / don't continuously run into walls"

[2014-02-18 01:28] #113 closed, assigned to lingqingmeng

[2014-02-18 01:46] AOEChamp commented on #194
It's awesome tho, innit?

[2014-02-18 02:31] lingqingmeng opened #196 "Sword weapon attack should match the longsword animation"
Sword animation is implemented right now with a big swinging sword that goes with the player.

Right now we need the sword hitbox to change from a square instantly appearing (and staying static)

Perhaps we need to make the player speed zero during the duration of the sword attack.

Also, sword's hitbox should radially rotate to match the sprite images. It could be implemented similar to a 180 deg

[2014-02-18 06:14] bkern24 opened #197 "When firing Range weapon Player turns invisible"
Unless its a new ability???????????????????

[2014-02-18 06:17] bkern24 commented on #196
Changing the Collision box is possible through setVertices but I think it would be much easier to set a default collision size, and then just rotate it? If that sounds okay then I'll take this one

Also note that I forgot to return false if its a melee collision so the physics box for the sword "moves"....

[2014-02-18 07:27] bkern24 commented on #196
Okay see Brandon/LongSwordPhysics....... Its a much better implementation. I'm not saying its great but its better. We still have to change the timing of the sword entity

[2014-02-18 15:46] lingqingmeng commented on #188
It's fixed. #155 I believe

On Sun, Feb 16, 2014 at 9:46 PM, bkern24 notifications@github.com wrote:

[2014-02-18 15:46] lingqingmeng commented on #188
Or #145

On Tue, Feb 18, 2014 at 9:46 AM, Ling Qing Meng ling.q.meng@gmail.comwrote:

[2014-02-21 00:43] #186 closed, assigned to nobody

[2014-02-21 07:14] AOEChamp commented on #197
Tried looking into it, very weird. The animation is set correctly and exists. Frames are also set. Yet no show.

[2014-02-21 07:25] #194 closed, assigned to nobody

[2014-02-21 07:26] #178 closed, assigned to nobody

[2014-02-21 07:29] AOEChamp commented on #195
DO we have pathfinding? If so, retreat should be: pathfind to 100px away from player or something like that

[2014-02-21 07:29] AOEChamp commented on #193
Duplicate of #192

[2014-02-21 07:29] #193 closed, assigned to nobody

[2014-02-21 07:31] AOEChamp opened #199 "Wallhuggers are invisible"
????
Whodunnit

[2014-02-21 07:35] AOEChamp commented on #190
We need to decide how large the boundaries should be(unless this was already talked about). Making it the size of the sprite is usually too big, but what we have right now is too small. Some playtesting may be needed to see what makes a decent hitbox, but not so large as to frustrate players.

[2014-02-21 07:37] AOEChamp opened #200 "One of the forest scenarios starts player in a wall"
title says it all

[2014-02-21 07:41] AOEChamp commented on #161
Looks like this was fixed

[2014-02-21 07:41] #161 closed, assigned to dawl

[2014-02-21 07:42] AOEChamp commented on #108
Have server, need meeting

[2014-02-21 07:42] #108 closed, assigned to dawl

[2014-02-21 07:42] #32 closed, assigned to nobody

[2014-02-21 07:43] AOEChamp commented on #39
Not needed for now

[2014-02-21 07:43] #39 closed, assigned to nobody

[2014-02-21 07:43] AOEChamp commented on #60
Directions should be an enum. Animations, not so much

[2014-02-21 07:44] AOEChamp commented on #53
Don't think this is the case anymore.

[2014-02-21 07:44] #53 closed, assigned to JaredPoetter

[2014-02-24 03:54] lingqingmeng commented on #196
Just merged my fixes with the disappearing player when shooting bug. Also made a couple of aesthetic improvements. Ready for your changes now too!

[2014-02-24 03:55] lingqingmeng commented on #199
Just fixed this. commit 9f0953df97014bc68db349411e015119c44198bd

[2014-02-24 03:55] #199 closed, assigned to nobody

[2014-02-24 03:56] lingqingmeng commented on #200
I shall work on this one

[2014-02-24 03:57] lingqingmeng commented on #197
Reason was because I edited the wrong section (Shoot instead of Bigslash) when doing my sword animations. My bad haha >.>. Fixed as of:

commit 9f0953df97014bc68db349411e015119c44198bd

[2014-02-24 03:57] #197 closed, assigned to nobody

[2014-02-24 04:23] lingqingmeng commented on #191
Done as of commit 9f0953df97014bc68db349411e015119c44198bd

[2014-02-24 04:23] #191 closed, assigned to lingqingmeng

[2014-02-24 04:34] lingqingmeng opened #201 "Longsword animation problem on map edge"
Longsword animation has a bug if player hugs a wall that is the edge of the map.

The animation appears 4 spots left of the player if he's on the right wall, and the player disappears until the attack animation is over.
Something similar happens on the bottom wall.

 A quick fix would be to make a border 256 pixels between the edge of the map and the player. I.E. add 4 layers of trees around each

[2014-02-24 05:07] lingqingmeng commented on #200
Fixed as of Commit: 50fe291c7789fbff560fdea0ffbf1fef41e94cc2

[2014-02-24 05:07] #200 closed, assigned to lingqingmeng

[2014-02-24 05:46] AOEChamp opened #203 "Scattershot OP again"
This must have gotten un-fixed. @FourierTransformer , can you set the proper cooldowns?

[2014-02-24 07:36] lingqingmeng commented on #201
Some updates
progressbar = healthbar I found out after a long search

Only the progress bar seems to be glitching, not the player animation anymore.

Player stands next to wall, swings sword
       -Player animation working as intended. Health bar will fly 4 spaces to the left, if the player is on
        a rightside wall. It will fly 3 spaces to the top if player is on a bottom wall.
       -If a

[2014-02-24 09:01] AOEChamp commented on #201
Well, I checked the system and it's not the progressbar code that is glitching. Spacial positon is being changed after the sword swing. Did a test standing against a wall.

Just standing: (690, 894)
After swinging sword: (690, 768)

So something is changing the player's location when the sword swings...

[2014-02-24 09:04] AOEChamp commented on #201
Found the problem. MapBoundarySystem was setting player position and was old broken code that we aren't using. I'll commit a fix.

[2014-02-24 09:06] #201 closed, assigned to lingqingmeng

[2014-02-24 21:50] JaredPoetter commented on #132
This issue is done for what the design team has come up with for the things that we want for a Scenario definition. If there is more anyone wants me to add more to the Scenario XML loading just open up a new GitHub Issue.

[2014-02-24 21:52] #132 closed, assigned to JaredPoetter

[2014-02-24 21:55] JaredPoetter commented on #152
This should be done now.

[2014-02-24 21:55] #152 closed, assigned to JaredPoetter

[2014-02-25 01:03] Quillwerth opened #205 "Move (spawnpoint / spawned monster) to nearest open square"
Currently, monsters spawn in walls. Let's fix that. Whenever a monster would spawn in a wall, move it to the nearest valid square.

Another idea would be to automatically move spawnpoints out of invalid squares. This prevents XML mistakes from shooting us in the foot.

[2014-02-25 02:16] JaredPoetter opened #206 "Scenarios for each of the maps"
Create a set of spawn points for the player to select from.
Create a set of spawn points for the monsters to spawn from.
Create a set of scenarios for the maps.

[2014-02-25 02:18] JaredPoetter opened #207 "Collision Box Fix for the Player"
The player collision box so that it is not at the head but is moved to the middle of their body.

[2014-02-25 02:20] JaredPoetter opened #208 "Fix arena map collisions"
Fix arena map collisions

[2014-02-25 02:36] JaredPoetter opened #209 "Look at the presentation"
Look at the presentation in the Google Drive folder that is shared with the group. Please read through it let us know if there is anything you want changed or added to it. I put the names of the people that are going to talk about each slide so please look at those slides so you know when each of us are going to talk. You can send an email to Conrad and Jared if you have any questions about the sl

[2014-02-25 02:40] JaredPoetter commented on #205
#206

[2014-02-25 17:54] JaredPoetter opened #210 "Starting a scenario is not working like it was last week"
I have been trying to get the new spawn points for the player and monsters but I think I found a bug that was not there last week. The player does not move to the new spawn point after each scenario is over. The player regains his health and stays in the current location. It seems to pull the spawn point for the very first scenario but none of the future ones.

I was looking through the code and n

[2014-02-25 18:03] bkern24 commented on #210
I don't think it was adeeb. I believe what happened was that even though I know @lingqingmeng had fixed his branch after pushing old code back into develop, there were other issues still present in develop. It seems as if develop lost some of Adeebs code such as the better Keyboard input, and a few other things.

Not saying this isn't a bug, just saying its not adeeb's fault tis all

[2014-02-25 18:06] JaredPoetter commented on #210
Thanks for the information. I am not saying that it was his fault I just looked at the blame and it said that it was his change. So I am just wanting to figure out what it is going on with the game.

[2014-02-25 20:52] AOEChamp commented on #210
I changed the code so that the first round is a scenario and the next
rounds use the old sustem. This was for debug purposes, as we didn't have
scenarios using all the monsters. Also, the scenario start location has
moved, due to the "get ready" label showing first.

On Tuesday, February 25, 2014, Jared Poetter notifications@github.com
wrote:

[2014-02-26 21:58] bkern24 commented on #210
So maybe he did break it lol but I agree for testing it sucks not having all monsters spawning

[2014-02-26 23:15] bkern24 commented on #207
Are we keeping the box the same size? Or are we modifying the size based on play testing?

[2014-02-27 00:15] JaredPoetter commented on #210
You could have asked me how to work with the scenarios or looked at the wiki page that I typed up. It is randomly picking a scenario for the selected map but you could just cut the other scenarios or comment them out for the map you want to test on.

[2014-02-28 02:05] JaredPoetter opened #211 "Tiled Based Collision"
Tiled Based Collision

[2014-02-28 02:05] JaredPoetter opened #212 "Facebook Login"

[2014-02-28 02:06] JaredPoetter opened #213 "Tutorial"

[2014-02-28 02:07] JaredPoetter opened #214 "Re Skin Forest Map"

[2014-02-28 02:08] JaredPoetter commented on #206
Work on the Forest and the Area spawn points.
Then create scenarios that are not BROKEN.

[2014-02-28 02:09] JaredPoetter opened #215 "Server Side Logging"

[2014-02-28 02:11] JaredPoetter opened #216 "Switching Back To The Scenario Loading Code"
This should be done as soon as possible.

[2014-02-28 02:16] JaredPoetter opened #217 "Fixing the player sword attacking"
So the player's melee attack will stop the player and then continue to move the melee attack is over.

[2014-02-28 02:16] JaredPoetter opened #218 "Fix landmine animation"

[2014-02-28 02:16] JaredPoetter opened #219 "Fix spear speed and range"

[2014-02-28 02:17] JaredPoetter commented on #210
#216

[2014-02-28 03:26] JaredPoetter opened #220 "SQL Query to calculate the player score"
This is basically going to be used to figure out if the things that we are collecting are the correct things for now and finding player score values for local players.

[2014-02-28 03:27] JaredPoetter commented on #215
http://www.microsoftvirtualacademy.com/training-courses/developing-windows-azure-and-web-services-jump-start#?fbid=RBkERlOoBUR

[2014-03-01 05:00] lingqingmeng commented on #219
Got spear animation working. The game logic behind it remains the same (that is, it still throws a red spear out when you attack, even though the player has a blue stick poking people). Will try to make the attack match the sprite frames.... @bkern24 if you got any suggestions/example code already in here that could help me lemme know

[2014-03-01 09:21] bkern24 commented on #219
Sprites and such were more geared towards Jared and adeeb

[2014-03-01 16:35] JaredPoetter commented on #219
I think that if you have the animation look presentable that will be good for now. If you want you can close this ticket and create a new one for future improvements to change the animations to sync with the attacking. But you should probably focus on doing other things in the project now. Does that make sense Ling?

[2014-03-02 00:18] bkern24 opened #221 "Enemies/Players Shoot Animation Correct Facing"
I got this just wanted to create the issue to let ppl know I started it

[2014-03-02 00:59] bkern24 commented on #221
Done. We will need to fix the issue of the player staying in shoot animation until a new key is press though

[2014-03-02 01:05] #221 closed, assigned to bkern24

[2014-03-02 01:07] bkern24 commented on #207
Don't worry guys, I got this (Fist bump to chest)

[2014-03-02 02:12] bkern24 opened #223 "FlameTower AOE OffCentered"
The AOE of the FlameTower is initially off tier from the flametower for 2 seconds after spawning.

[2014-03-02 02:41] bkern24 commented on #207
Can somebody in design check my branch Brandon/MoveCollisionBox
The way I was wanting to offset the collision boxes had caused issues elsewhere so I just made the collision boxes "less static" (I base off the sprite size and scale but I still use hard coded values). I want to know if they are decent or if you guys want better.

@fualkner @FourierTransformer @lingqingmeng

[2014-03-02 02:42] bkern24 commented on #207
Also anybody else who wants look at it can to. I want feedback.

[2014-03-02 06:53] bkern24 opened #224 "Swords remain present Too Long"
I'm tired of this, I'll fix it and upgrade the player sword

[2014-03-02 17:35] bkern24 commented on #207
Well If nobody wants to look at it....

[2014-03-02 17:37] JaredPoetter commented on #207
I have not had time to switch back over to the project since yesterday when I worked on the spawn points. I can take a look later on today if you want me to still. It just wont be for some time.

[2014-03-02 17:48] bkern24 commented on #207
Its all good, I'll just make a pull request plus I found a bug with the sword I fixed in this update too... Worst case we can remove or modify the boxes afterwards

[2014-03-02 22:08] #206 closed, assigned to JaredPoetter

[2014-03-02 23:35] #95 closed, assigned to Duffman9205

[2014-03-03 00:34] Duffman9205 commented on #218
Started working on in LandmineAnimation branch. Landmines are currently projectiles with 0 speed, so instead of doing damage through the DealDamage method, I changed it so they create an AOE field (similar to suicide bomber and grenades).

However, I noticed that DealDamage (in WeaponSystem.cs) had some landmine specific code, some of which was marked "Ling's bad code". @lingqingmeng , what do you

[2014-03-03 00:42] #216 closed, assigned to AOEChamp

[2014-03-03 00:42] #213 closed, assigned to AOEChamp

[2014-03-03 00:42] AOEChamp commented on #203
Still OP, someone commit the cooldowns

[2014-03-03 00:53] bkern24 commented on #218
With this I noticed there is a console.writeline in the Projectile system i believe. Its for the landmines.
@lingqingmeng Any reason for this in develop? Im assuming its you as you did the landmines, if not then maybe its @dawl code

[2014-03-03 02:14] AOEChamp commented on #212
I'll start on this since it's part of the whole azure thing

[2014-03-03 06:38] AOEChamp commented on #212
Gots basic login working

[2014-03-03 06:38] #212 closed, assigned to FourierTransformer

[2014-03-04 02:07] JaredPoetter opened #229 "Get local data collected so we can see if we can answer our hypotheses."

[2014-03-04 02:08] JaredPoetter opened #230 "Getting people to play the game locally so we can play around with the data."
Saturday Session

[2014-03-04 02:10] JaredPoetter opened #231 "Put in the changes for the maps and the weapons"
- Going to one map, fewer variables in the data collection.
- Reducing the number of weapons to just; sword and bow.
  Left and Right mouse button do each of the weapons.

[2014-03-04 02:11] JaredPoetter opened #232 "More scenarios for the arena map"

[2014-03-04 02:11] JaredPoetter opened #233 "Remove the Rectangle and the Days, Hours, Minutes, Seconds from the XML."

[2014-03-04 02:12] JaredPoetter opened #234 "Exposing the scenario that the people are currently on."
This would be on the GUI of the game.

[2014-03-04 02:20] dawl commented on #231
@AOEChamp

[2014-03-04 04:02] #233 closed, assigned to JaredPoetter

[2014-03-04 04:02] JaredPoetter commented on #209
Done

[2014-03-04 04:02] #209 closed, assigned to nobody

[2014-03-04 16:16] JaredPoetter commented on #234
I am thinking that we do not want to just say the scenario name because I called mine easy hard medium difficulty in the name of the scenario. So we do not want to give the player any indication that the current scenario is hard or easy.

One thing that we can do it rename all of the scenarios to just a letter or two and then display that in the upper left or right corner so the proctors of the te

[2014-03-04 16:21] JaredPoetter opened #236 "Form to fill out during Play Testing Session"
We need a form to fill out when we are viewing the students playing the game. This will not be very long just a set of things that we want to write down during each game like the current scenario that they are playing and their reaching to different things.

[2014-03-04 16:22] JaredPoetter commented on #236
This should be a google doc in the shared folder please so we all can have access to it if we want to do our own play testing.

[2014-03-04 16:45] FourierTransformer commented on #236
Somethings worth thinking about for Thursday are the think-aloud logging,
and what sort of things should we get out of the player while they are
playing it. What do we want, what do we need? How can it help us tweak the
game? How does it help our metrics. How/does it affect the enemy hierarchy
and enemy synergy.

On Tue, Mar 4, 2014 at 10:22 AM, Jared Poetter notifications@github.comwrote:

[2014-03-04 16:46] FourierTransformer commented on #234
This is legit. I beleive we are currently logging the map we are playing,
but I'm not sure about the scenario. Better ask @AoEChamp for some
clarification.

On Tue, Mar 4, 2014 at 10:16 AM, Jared Poetter notifications@github.comwrote:

[2014-03-04 19:40] AOEChamp commented on #234
Scenario names are not currently logged. Take a look at one of the existing log statements for an example. It should be a one-liner. I don't think we want to expose the scenario name to players though.

[2014-03-04 21:04] lingqingmeng commented on #218
Ling's bad code represents our working version of the landmines, albeit not
perfectly. I"ll take a look at it tonight.

On Sun, Mar 2, 2014 at 6:53 PM, bkern24 notifications@github.com wrote:

[2014-03-04 21:06] lingqingmeng commented on #218
At work, so I'm unaware of the changes made (regarding this), but
essentially as long as the landmine extracts its damage value from
Monsters.xml it should be enough to have it be of quality in develop.

On Tue, Mar 4, 2014 at 3:04 PM, Ling Qing Meng ling.q.meng@gmail.comwrote:

[2014-03-04 21:08] lingqingmeng commented on #230
I think we should meet at some central location, and split off in groups of
2, each pair would go to places like Walter, Biomed, Coffman, Coffee shops
around campus to have people play the game.

On Mon, Mar 3, 2014 at 8:08 PM, Jared Poetter notifications@github.comwrote:

[2014-03-04 23:27] JaredPoetter commented on #234
We are doing it for testing. You were not at the meeting to get all the details.

[2014-03-05 00:18] JaredPoetter commented on #230
That is a good idea. We might run into problems with buildings being open on Saturday. Also we could probably do these play tests separately if some of us cannot make it.

I might just do a play test with a couple of my friends at home because I can do more in the time that I would be commuting to campus.

[2014-03-05 04:11] lingqingmeng commented on #217
Does anyone know where base player speed is found? It's not in Monsters.xml

[2014-03-05 06:31] bkern24 opened #239 "Arena Map Bug"
Enemy and player Can get around the wall (In the bottom right hand side), and then run along the right side of the wall whilst being behind a collision box. You just have to test the map to see the issue.

I'm sure its just a passability change of the map

[2014-03-05 06:32] bkern24 commented on #224
fixed

[2014-03-05 06:32] #224 closed, assigned to bkern24

[2014-03-05 06:33] bkern24 commented on #207
Basically Done now.. I saw the issue in cave..... The bridge should really be made bigger in reality

[2014-03-05 06:33] #207 closed, assigned to bkern24

[2014-03-05 06:36] bkern24 commented on #230
I have to ask are giving gifts to people for testing?

Also I could also get at least 10 people this weekend to test it for probably 20 min each? So if a form is ready by Saturday we could get some data. I may even get more people.. I live with 50 people so yea

[2014-03-05 06:39] bkern24 commented on #217
It gets set in the CreatePlayerEntity func of EntityFactory called by DIRTY.cs........... Although I had thought Adeeb used the xml to overwrite this, but maybe he didn't.... Either way thats where it is

[2014-03-05 18:54] lingqingmeng commented on #217
Is there a way to deny the player using certain keyboard inputs (i.e. Left,
Right, Up, Down, wasd, uhjk) for a specific amount of time?

On Wed, Mar 5, 2014 at 12:39 AM, bkern24 notifications@github.com wrote:

[2014-03-05 18:58] lingqingmeng commented on #217
There seems to be an issue with movespeed... if you change it to anything less than 100 the player can't move what so ever

[2014-03-05 19:00] lingqingmeng commented on #217
Nevermind I know why, it's because in playercontrolsystem s.Movespeed (lets say it equals 99) gets divided by 100, as an int, meaning it will get automatically truncated. to 0 instead of .99 since its an int.

[2014-03-05 19:04] bkern24 commented on #217
To answer your first question though I mean you can do it, we currently don't have a function that say someFunc(keysToDeny,timeToDeny) currently set up. But this isn't the issue at hand is it? What I thought was occurring that if you attack and are moving then after the attack animation finishes then the player or monster doesn't move until after the change direction/press a key. Couldn't this be

[2014-03-05 19:19] lingqingmeng commented on #217
I see. I can probably do it that way. Is there a class where I can put
public utility methods? I.e. I want to use a new method I made in
PlayerControlSystem in WeaponSystem without attempting to instantiate a
PCSystem in WeapSystem. So I can call DirtyUtils.newFunc instead of
playerContSystem.newFunc

On Wed, Mar 5, 2014 at 1:04 PM, bkern24 notifications@github.com wrote:

[2014-03-05 19:28] bkern24 commented on #217
That is getting close to cheating the framework. But yes, look at the Dirty.cs when systems are created. You just have to modify the constructor in say WeaponSystem to take in a EntitySystem. or whatever the class name is I don't have the code in front of me

[2014-03-05 21:28] lingqingmeng commented on #217
Why is it that animation component isn't added to the player entity?

[2014-03-05 21:31] bkern24 commented on #217
Animation components aren't added until they need to be. Say pressing the attack button. Or moving right etc. At least this is how I believe it is in the code

[2014-03-06 00:17] lingqingmeng commented on #217
Does anyone know why I can't detect

[code]

}

In PlayerControlSystem.ProcessEntities(....)??

Are certain components restricted from certain systems? Doesn't make sense.

On Wed, Mar 5, 2014 at 3:31 PM, bkern24 notifications@github.com wrote:

[2014-03-06 00:23] bkern24 commented on #217
Player isn't a weapon. Try InventoryComponent

[2014-03-06 01:00] lingqingmeng commented on #217
I'm able to get it to work, however, if you move, then attack, then don't
let go the direction you were moving, you can cheat the system and drift
(as long as you're pressing down the direction button). I'm not sure how I
can have playercontrolsystem be smart enough to detect "Okay, I'm in sword
cooldown, now I will cancel all ongoing animation and movement operations".

On Wed, Mar 5, 2014 at 6:2

[2014-03-06 03:15] JaredPoetter commented on #236
I got a rough form done in the google drive folder 'Play Testing'.

[2014-03-06 23:10] #215 closed, assigned to AOEChamp

[2014-03-07 00:37] AOEChamp commented on #111
Temporary SQL Magix:

DECLARE @Session INT;
SET @Session = 31;
DECLARE @HitRate FLOAT;
DECLARE @KillRate FLOAT;
DECLARE @RoundHealth FLOAT;
DECLARE @HealthRemaining FLOAT;
SET @HitRate = CAST((SELECT COUNT(_) FROM GameEventModels WHERE (SessionId = @Session AND Type = 'PlayerWeaponFirstHit')) AS FLOAT) / (SELECT COUNT(_) FROM GameEventModels WHERE (SessionId = @Session AND Type = 'PlayerWeaponFire

[2014-03-07 01:19] JaredPoetter opened #241 "Logging Scenario Name"
Log the scenario name so that we are able to check which scenario they played.

[2014-03-07 03:41] Duffman9205 opened #242 "Create scenarios for initial round of testing"
Arena map, only melee, ranged, and suicide bomber. All 6,4,2 combos plus 4,4,4 scenario.

[2014-03-07 03:41] AOEChamp commented on #111
/_create function dbo.InlineMaxF(@val1 float, @val2 float) returns float
AS
begin
  if @val1 > @val2
    return @val1
  return isnull(@val2,@val1)
end_/
GO

DECLARE @Session INT;
SET @Session = 34;
DECLARE @HitRate FLOAT;
DECLARE @KillRate FLOAT;
DECLARE @RoundHealth FLOAT;
DECLARE @HealthRemaining FLOAT;
SET @HitRate = CAST((SELECT COUNT(_) FROM GameEventModels WHERE (SessionId = @Session AND Typ

[2014-03-07 21:48] JaredPoetter opened #244 "Loading the scenarios in a specific order"
Loading the scenarios in a specific order.

I (@coala2000) am not going to be able to get to this before tomorrow because of the programming test today, Friday.

So if it needs to be done sooner than tomorrow someone else will have to do it. Thanks.

[2014-03-08 01:56] #241 closed, assigned to AOEChamp

[2014-03-10 15:06] #234 closed, assigned to AOEChamp

[2014-03-10 19:14] JaredPoetter opened #249 "Game crashes on released version"
The game will install and allow you to create an account and log in but when the game runs for a couple of seconds it will crash. It seems to do it on whatever menu you are currently in but I was not able to get any further than the map selection screen.

It seems to be running fine in visual studio for everyone. @AOEChamp do you have any idea what this could be? I am guessing that it has to do wi

[2014-03-10 19:54] AOEChamp commented on #249
No idea. Would have to debug it

On Mon, Mar 10, 2014 at 2:14 PM, Jared Poetter notifications@github.comwrote:

[2014-03-10 20:01] JaredPoetter commented on #249
It sounds like all of the cases where it is not working are on new machines with no visual studio development environment.

[2014-03-10 20:54] AOEChamp commented on #249
Turns out, for some reason the auto deploy decided that xml files go in a
different directory than the rest of the game.... Should be fixed now, I
uploaded the latest version.

On Mon, Mar 10, 2014 at 3:01 PM, Jared Poetter notifications@github.comwrote:

[2014-03-10 23:21] dawl commented on #249
I just downloaded the new version, now I get this error when I try to install.

![toweroffensev2 1](https://f.cloud.github.com/assets/3344817/2380430/94a44850-a8aa-11e3-9055-dfe3d2bac297.png)

[2014-03-10 23:24] dawl commented on #239
Fixed

[2014-03-10 23:24] #239 closed, assigned to nobody

[2014-03-10 23:25] dawl commented on #231
Done

[2014-03-10 23:25] #231 closed, assigned to FourierTransformer

[2014-03-10 23:25] dawl commented on #220
Done

[2014-03-10 23:25] #220 closed, assigned to AOEChamp

[2014-03-10 23:25] dawl commented on #208
Done

[2014-03-10 23:25] #208 closed, assigned to dawl

[2014-03-10 23:25] dawl commented on #203
Scattershot removed from game.

[2014-03-10 23:25] #203 closed, assigned to FourierTransformer

[2014-03-10 23:26] dawl commented on #190
Collision box is not at player/monster's feet

[2014-03-11 00:09] dawl opened #250 "Fix Player Score Hit Rate Implementation"
Hit Rate = Total Hits On Player / Total Number of Monster Attacks

[2014-03-11 00:10] dawl opened #251 "Log Hit Combos"
Hit combos (which are calculated already) need to be logged into SQL

[2014-03-11 00:23] JaredPoetter opened #252 "Log what the Player is hit by"
Log what weapon type the player is hit by.

[2014-03-11 00:26] dawl commented on #251
Need to log:
- # Of Hits
- Reason of Combo End (Miss or Timeout)

[2014-03-11 00:27] dawl opened #253 "Log Displayed Score"
The in game score needs to be logged to SQL at the end of each round.

We need to log:
- Total score
- Change in total score from the start of the round to the end of the round (Round End Score - Round Start Score)

[2014-03-11 00:28] AOEChamp commented on #249
fraxed

[2014-03-11 00:28] #249 closed, assigned to nobody

[2014-03-11 00:32] dawl opened #254 "Log Which Weapon Monsters Are Hit By"
When a monster is hit, log which weapon hit them

[2014-03-11 00:47] dawl opened #255 "Log Which Release of the Game Data is Being Taken From"
Log Which Release of the Game Data is Being Taken From

[2014-03-11 00:48] dawl opened #256 "Remove TowerOffense from Name of the Game"
Including the website and redistributable.

[2014-03-11 00:50] dawl opened #257 "Loop Through 7 Scenarios 3 Times"
Loop through all scenarios 3 times before returning to  the menu.

[2014-03-11 00:54] #252 closed, assigned to nobody

[2014-03-11 00:54] #254 closed, assigned to nobody

[2014-03-11 00:54] #255 closed, assigned to nobody

[2014-03-11 01:05] bkern24 commented on #257
This is done. It goes through the rounds then you start it back. I was told each session had a different experience level.

[2014-03-11 01:07] bkern24 commented on #190
It covers their entire body? So we just want collisions at their feet? I get why you might want that but it will make the game look weird.

[2014-03-11 01:14] #251 closed, assigned to nobody

[2014-03-11 01:23] dawl opened #258 "Need to Modify the Tutorial"
Only introduce the player to the enemies that are actually in the game.

[2014-03-11 01:29] #258 closed, assigned to nobody

[2014-03-11 01:29] JaredPoetter commented on #242
Done

[2014-03-11 01:29] #242 closed, assigned to Duffman9205

[2014-03-11 01:35] #120 closed, assigned to nobody

[2014-03-11 01:35] #116 closed, assigned to nobody

[2014-03-11 01:56] Quillwerth opened #259 "Write "About" Page for website; post to site"
@AOEChamp to be notified upon completion, for posting.

[2014-03-11 01:59] #256 closed, assigned to nobody

[2014-03-11 02:00] AOEChamp commented on #259
Also contact page

[2014-03-11 02:01] AOEChamp commented on #244
was doned

[2014-03-11 02:01] #244 closed, assigned to nobody

[2014-03-11 02:15] Quillwerth opened #260 "tilde skips levels in release version"
VOLVO PLZ FIX

[2014-03-11 02:16] Quillwerth commented on #260
@AOEChamp

[2014-03-11 02:20] #257 closed, assigned to FourierTransformer

[2014-03-11 02:20] #260 closed, assigned to nobody

[2014-03-11 02:20] FourierTransformer commented on #260
Done.

[2014-03-11 02:21] Quillwerth commented on #260
K
On Mar 10, 2014 9:20 PM, "Shakil Thakur" notifications@github.com wrote:

[2014-03-11 02:25] FourierTransformer commented on #257
Just for completeness, we want people to play 21 times then go back to the menu. @AOEChamp and I fixed this moments ago.

[2014-03-11 02:46] AOEChamp commented on #250
@fualkner @FourierTransformer @fluffybunnies

Adeeb and I (Shak) were discussing the new "HitRate" and it's kinda janky. We didn't want to go with accuracy partially because it correlated with time. In essence we are now calculating the monster's accuracy, which again can vary greatly as dependent on time.

ie the longer you are in the game, the more enemies fire, the tinier your "hitrate" becomes

[2014-03-11 03:05] bkern24 commented on #250
How dependent are we on this accuaracy? I mean do we use it to calculate player score?

[2014-03-11 15:20] FourierTransformer commented on #250
We were planning on using it to calculate player score. But it seems as if
there might be a few problems with it. Just wondering if it should be
scrapped or re-worked.

But since this is technically server side, and we can update sql tables
later, it's not crucial for play testing.

On Mon, Mar 10, 2014 at 10:05 PM, bkern24 notifications@github.com wrote:

[2014-03-11 15:20] FourierTransformer commented on #236
Went over it yesterday and finished it.

[2014-03-11 15:20] #236 closed, assigned to FourierTransformer

[2014-03-11 15:21] FourierTransformer commented on #232
@Duffman9205 took care of this.

[2014-03-11 15:21] #232 closed, assigned to nobody

[2014-03-11 15:22] FourierTransformer commented on #214
Technically the reskinning is done, but not yet implemented (along with it's collisions). Since our goals shifted, I'll leave this open for now.

[2014-03-11 15:22] FourierTransformer commented on #121
Done a while ago.

[2014-03-11 15:22] #121 closed, assigned to FourierTransformer

[2014-03-11 18:58] Quillwerth commented on #259
CSCI 4950 started with a simple idea:

"What if games fit the player, rather than players fitting into the game?"

Games should be fun. However, many games fall into one of two traps. Some games are too easy, and get boring quickly. Others are too hard, and are frustrating until you just turn them off. The narrow band between easy and hard is challenging, engaging, and where the fun lives. The cha

[2014-03-11 19:02] Quillwerth commented on #259
Contact page... we can give them the class alias, but I think that might break down _our_ lines of communication. Anyone want to offer up an email address?

Maybe we could link them to here? Is there a good way for outsiders to give us feedback on GitHub?

[2014-03-11 19:03] Quillwerth commented on #259
In any case, @AOEChamp please add the above post to the website, after acquiring that last guy's name.

[2014-03-11 19:21] JaredPoetter commented on #259
We could make a Gmail account for the class and then let everyone know the email address password. We would also need to make a standard way to respond and filtering of the emails. I, @coala2000, can create a gmail account if you want me to do that?

[2014-03-11 21:08] Quillwerth commented on #259
Do it. I don't know what sort of process we could need for emails... be courteous and professional, if you shouldn't be answering a question, don't answer it. Do we need more?

[2014-03-11 21:09] JaredPoetter opened #261 "Create Gmail Alias"

[2014-03-11 21:40] AOEChamp commented on #261
We could forward emails from an email account to the csci group. That way,
we all get emails, and any of us can reply.

On Tue, Mar 11, 2014 at 4:09 PM, Jared Poetter notifications@github.comwrote:

[2014-03-11 23:34] JaredPoetter commented on #261
So you think that we should still have one then?

[2014-03-12 15:18] Duffman9205 commented on #259
That list is missing Austin (Roos?) and Gary (???)

On Tue, Mar 11, 2014 at 4:08 PM, Patrick Severin
notifications@github.comwrote:

[2014-03-12 20:35] AOEChamp commented on #259
Gary the Snail?

[2014-03-13 16:03] lingqingmeng commented on #249
Did play testing for a person and it crashed on the 11th round or so. At
work so I can't provide detailed log, but was wondering if anyone else was
experiencing this.

On Mon, Mar 10, 2014 at 7:28 PM, AOEChamp notifications@github.com wrote:

[2014-03-13 16:25] JaredPoetter commented on #249
Are you working on the most recent version because it could be from the fact that counter roles off the end of the list of scenarios?

Also you said that you might be doing testing in an environment with a bad network connection so maybe if the connection is dropped with the server it will crash? I do not see this being an issue but it could be.

[2014-03-13 18:14] Quillwerth commented on #261
I want one, so we can block it if needs be (imagine if an AdBot got our internal email... :P )

[2014-03-13 21:57] JaredPoetter commented on #99
Done

[2014-03-13 21:57] #99 closed, assigned to AOEChamp

[2014-03-13 21:57] JaredPoetter commented on #92
Done

[2014-03-13 21:57] #92 closed, assigned to dawl

[2014-03-13 21:58] JaredPoetter commented on #101
Done

[2014-03-13 21:58] #101 closed, assigned to nobody

[2014-03-14 01:16] JaredPoetter opened #262 "knockback on player sword"

[2014-03-14 01:17] JaredPoetter opened #263 "change the sword and bow damage"
Sword: 50 -> 80
Bow: 40 -> 30

[2014-03-14 01:19] JaredPoetter opened #264 "suicide bomber health change"
health: 1 -> 60

[2014-03-14 01:21] JaredPoetter opened #265 "melee monsters fix"
melee monsters running into you hurts the player
boolean set if collided with the player, on separation the boolean gets set back
20 Damage
50 → 60 move speed
remove their sword
5 hits kill you

[2014-03-14 01:23] JaredPoetter commented on #253
This is not done.

[2014-03-14 01:23] JaredPoetter opened #266 "ranged monster"
Increase range; 400 → 450
Increase Arrow Speed;7 → 10, AND the player
8 hits to kill player
Can only shoot if in range

[2014-03-14 01:24] JaredPoetter commented on #266
@dawl might have the only shooting in range done. But not in develop

[2014-03-14 01:24] JaredPoetter opened #267 "Arrow Sprite"
black outline

[2014-03-14 01:25] JaredPoetter opened #268 "Map"
THIS FOR ARENA:
close bottom middle
close top middle
close behind tent (top right)
One tile for the colliable

[2014-03-14 01:25] JaredPoetter opened #269 "fullscreen"
Remove the option for released version

[2014-03-14 01:43] JaredPoetter commented on #253
This needs to be done before anymore play testing can be done.

[2014-03-14 01:45] JaredPoetter opened #270 "New Invisible Player Score Weights"
Calculated by, the weights
Damage Dealt: 2
Kill Rate: 2
Health Remaining: 3

[2014-03-14 02:01] JaredPoetter opened #271 "Just have the person play the the 7 scenarios 3 times."

[2014-03-14 02:03] JaredPoetter opened #272 "When2Meet for Spring Break"

[2014-03-14 03:04] AOEChamp commented on #253
Done for reals now. It was only logging when the player died before :/

[2014-03-14 03:05] AOEChamp commented on #253
Do we still need the change in score?

[2014-03-14 03:22] #263 closed, assigned to bkern24

[2014-03-14 03:22] #262 closed, assigned to bkern24

[2014-03-14 03:27] #264 closed, assigned to bkern24

[2014-03-14 03:28] bkern24 commented on #265
I got this. Taking a break to eat then I will finish this so don't no one do it

[2014-03-14 04:19] JaredPoetter commented on #271
done

[2014-03-14 04:19] #271 closed, assigned to JaredPoetter

[2014-03-14 04:26] JaredPoetter commented on #253
I would store the score at the end of each scenario/session we can figure out the gain by finding a difference. @FourierTransformer, let us know if that is not right.

[2014-03-14 04:27] FourierTransformer commented on #253
Jared, you are correct!
On Mar 13, 2014 11:26 PM, "Jared Poetter" notifications@github.com wrote:

[2014-03-14 04:42] AOEChamp commented on #253
That's what I thought. So it should be working now.

On Thu, Mar 13, 2014 at 11:27 PM, Shakil Thakur notifications@github.comwrote:

[2014-03-14 05:42] bkern24 commented on #265
#278
Had to set Damage to five in case player ran into monster it didn't just kill them instantly. Its cleaner this way

[2014-03-14 05:56] FourierTransformer opened #279 "No more knockback on the bow."
Hey, so I think most of us were in favor of this at the meeting.

[2014-03-14 05:58] bkern24 commented on #279
Yup its already done, Well I made it super small. You can still see the enemy get hit but it doesn't affect his speed. it should be in develop check it out. Tell me if its bad or good

[2014-03-14 05:59] FourierTransformer commented on #279
stuck in macworld. but will do tomorrow!

[2014-03-14 05:59] #279 closed, assigned to bkern24

[2014-03-15 20:00] FourierTransformer commented on #267
Asking for a pull request. Done.

[2014-03-15 20:00] #267 closed, assigned to FourierTransformer

[2014-03-15 20:01] FourierTransformer commented on #163
discussed at last meeting. Done-ish for now. Might come up again later.

[2014-03-15 20:01] #163 closed, assigned to FourierTransformer

[2014-03-15 20:12] FourierTransformer commented on #269
in #281 just waiting for the pull.

[2014-03-15 20:14] FourierTransformer commented on #266
"might have the only shooting in range done." << what does this mean? @dawl or @coala2000 can you clarify? I thought we did this one already?

[2014-03-15 20:19] FourierTransformer commented on #272
email sent. Sorry @dawl if you were really looking forward to it!

[2014-03-15 20:19] #272 closed, assigned to dawl

[2014-03-15 20:21] FourierTransformer commented on #265
it seems to work pretty well. just saw it when putzing. It appears as if they are actually able to hit you now and have actually become a little more challenging.

[2014-03-16 01:04] JaredPoetter commented on #266
This is the fact that the enemies only attack when they can hit you. @dawl I thought you did this on Thursday during the meeting? Did you forget to push it into develop?

[2014-03-16 03:35] bkern24 commented on #192
See my branch Brandon/MessingAround for this for anyone who cares before a bunch of pushes are made to develop.

[2014-03-16 03:36] bkern24 commented on #192
Maybe if I spammed github I would get a response?

[2014-03-16 03:47] bkern24 commented on #266
The last time i tested develop it was working.

[2014-03-16 03:49] bkern24 commented on #217
I also fixed this in Brandon/MessingAround so yeah check it out

[2014-03-16 03:50] bkern24 commented on #196
Pretty sure this is done as well

[2014-03-16 03:50] #196 closed, assigned to nobody

[2014-03-16 03:51] bkern24 commented on #107
We don't want this anymore correct? as it leads to a time based calculation????????????????????/

[2014-03-16 03:54] bkern24 commented on #190
Nobody has said anything in week or two so..................

[2014-03-16 03:54] #190 closed, assigned to nobody

[2014-03-16 03:56] bkern24 commented on #103
Do we want this still? Not hard to implement

[2014-03-16 03:59] bkern24 commented on #219
For this I suggest using my branch as an example Brandon/MessingAround as it doesn't modify the spritesheet

[2014-03-16 04:01] #269 closed, assigned to FourierTransformer

[2014-03-16 04:12] FourierTransformer commented on #107
ah, you're right. This would factor in to time. So yeah, not truly needed.

[2014-03-16 04:12] #107 closed, assigned to bkern24

[2014-03-16 04:14] #270 closed, assigned to AOEChamp

[2014-03-16 04:14] #253 closed, assigned to AOEChamp

[2014-03-16 04:15] AOEChamp commented on #180
Pretty sure this is fixed. Closing unless it pops up again.

[2014-03-16 04:15] #180 closed, assigned to nobody

[2014-03-16 04:16] AOEChamp commented on #124
Think we have A\* now. Or the code for it.

[2014-03-16 04:16] #124 closed, assigned to nobody

[2014-03-16 04:16] #111 closed, assigned to nobody

[2014-03-16 04:17] AOEChamp commented on #112
ODATA OP

[2014-03-16 04:17] #112 closed, assigned to nobody

[2014-03-16 04:17] AOEChamp commented on #195
Do we have A\* retreat yet?

[2014-03-16 04:18] AOEChamp commented on #88
Not relevant anymore

[2014-03-16 04:18] #88 closed, assigned to Quillwerth

[2014-03-16 04:18] AOEChamp commented on #49
Not needed as of now

[2014-03-16 04:18] #49 closed, assigned to nobody

[2014-03-16 04:20] AOEChamp commented on #250
Did we decide what to do about this?

[2014-03-16 04:20] AOEChamp commented on #250
Nvm, looks like we dropped it

[2014-03-16 04:20] #250 closed, assigned to nobody

[2014-03-16 04:21] FourierTransformer commented on #250
removed hit rate and couldn't come up with anything else.

On Sat, Mar 15, 2014 at 11:20 PM, AOEChamp notifications@github.com wrote:

[2014-03-20 22:44] dawl commented on #268
Done

[2014-03-20 22:44] #268 closed, assigned to dawl

[2014-03-20 22:46] dawl commented on #266
I thought I pushed it, I can check.

[2014-03-20 22:48] dawl commented on #266
Seems to be working in develop right now.

[2014-03-24 23:39] dawl commented on #103
Not Implementing

[2014-03-24 23:39] #103 closed, assigned to nobody

[2014-03-24 23:39] dawl commented on #60
Closed

[2014-03-24 23:39] #60 closed, assigned to JaredPoetter

[2014-03-28 00:44] JaredPoetter opened #284 "Log monster type when damage is dealt"

[2014-03-28 01:04] JaredPoetter commented on #284
This should be done for the next round of play testing.

[2014-03-28 01:06] JaredPoetter opened #285 "Pushing New Version of the Game to the Site"
This can be done from the develop branch.

[2014-03-28 01:07] JaredPoetter opened #286 "Splitting up data by rounds"

[2014-03-28 01:13] JaredPoetter opened #287 "Play Testing Round 2"
Play Testing Round 2
DO NOT START UNTIL THE NEW VERSION IS ON THE SITE

@coala200
@Duffman9205
@FourierTransformer
@bkern24
@fualkner
@lingqingmeng

[2014-03-28 01:16] FourierTransformer commented on #286
fair warning, Conrad knows what this is.

On Thu, Mar 27, 2014 at 8:07 PM, Jared Poetter notifications@github.comwrote:

[2014-03-28 01:26] Quillwerth opened #288 "Record Wins and Losses on Azure DB for each scenario"
We should record this since people said Archers were the strongest, but a scenario with 6 archers had the highest scenario score...

We need a way to detect discrepancies, and seeing global win/loss ratio data for each scenario would give us an absolute metric to compare our player score against.

@AOEChamp

[2014-03-28 23:15] FourierTransformer commented on #288
We record if they die. I'm not sure what's recorded if they quit. We could
extrapolate, but that seems a little gross. Perhaps always log how the
scenario ended. (Quit, died, or won)
On Mar 27, 2014 8:26 PM, "Patrick Severin" notifications@github.com wrote:

[2014-03-29 01:09] AOEChamp commented on #284
done

[2014-03-29 01:09] #284 closed, assigned to AOEChamp

[2014-03-29 01:14] AOEChamp commented on #288
We record whether the round ended normally, and whether the player died. That is enough for the data we need.

[2014-03-29 06:34] AOEChamp commented on #287
Round 2 is live

[2014-03-29 06:34] #287 closed, assigned to nobody

[2014-03-31 07:59] #259 closed, assigned to Quillwerth

[2014-03-31 08:01] Quillwerth opened #290 "Installed game crashes on going to Options page"
Seriously. Open the Options page, and then just click Save.

[2014-03-31 16:51] AOEChamp commented on #290
watwatwatwatwatat

[2014-03-31 17:00] AOEChamp commented on #290
Fix is in my branch. Not a big deal, so I'll push it with the next round of changes

[2014-03-31 17:00] #290 closed, assigned to nobody

[2014-03-31 17:00] #285 closed, assigned to AOEChamp

[2014-03-31 19:21] dawl commented on #286
Data has been split up for the first round of play testing

[2014-03-31 19:57] FourierTransformer opened #291 "Round 7 Enemy Clumping"
In Rounds 7, a bunch of archers and either a suicide bomber or melee dude get stuck in the bottom right.

This seems to have to do with archers trying to get away from you and enemies still coming at you, but the archers "win" and drag the enemies to the bottom right.

Also, it's real good when a suicide bomber is in the middle of the pack.

[2014-04-03 23:02] #286 closed, assigned to dawl

[2014-04-03 23:53] JaredPoetter opened #292 "Get the ~30 Scenarios implemented into Adeeb's god branch"
~30 Scenarios are from Shak.

[2014-04-04 00:15] dawl opened #293 "ELO K Values need to be Floats in SQL"
The K values need to be floats instead of ints in the player score SQL code.

Player ELO and Scenario ELO need to be floats as well, we are having truncation problems.

[2014-04-04 00:50] JaredPoetter opened #294 "Prevent people from logging into the game on multiple machines with the same account"
Prevent people from logging into the game on multiple machines with the same account

[2014-04-04 00:50] JaredPoetter commented on #294
"Because the the ELO gets all sorts of jankety!?" - Shak

[2014-04-04 00:56] JaredPoetter opened #295 "LeaderBoard for ELO"

[2014-04-04 00:57] JaredPoetter opened #296 "Getting Killed by Suicide Bombers Bug"
You are able to move around after your death.

[2014-04-04 01:01] JaredPoetter commented on #296
@dawl Link to the videos

[2014-04-04 01:03] FourierTransformer opened #297 "Enemy Separation needs to be a thing"
Enemies need to stop being slowed down when in groups.

[2014-04-04 01:06] dawl commented on #296
Videos:
https://drive.google.com/a/umn.edu/file/d/0B5qu1nMhnFIhMjhUdFhkWVJDYVU/edit?usp=sharing

https://drive.google.com/a/umn.edu/file/d/0B5qu1nMhnFIhZ05FSm1VbG1lU2c/edit?usp=sharing

[2014-04-04 01:08] FourierTransformer opened #298 "Ranged still gets stuck in corners"
Make them a little smarter. Definitely avoid getting stuck in corners. Ranged cool down is a little too long. Make it a little faster.

Grant's suggestion:

When the player has a ranged weapon, the ranged enemy tries to get an "in-between" distance (aka half of max). When it's a sword they go to their max distance and try to range you. After two seconds, they should re-check the current weapon and

[2014-04-04 01:11] FourierTransformer commented on #295
Patrick with the design for the in-game ELO board system thingy.

[2014-04-04 01:13] FourierTransformer opened #299 "Suicide Bomber 2ticks to 1tick"
His animation still has two ticks, it should have 1. He should do 30 damage, have 60 health, and delete himself after he blows up.

[2014-04-04 01:14] FourierTransformer opened #300 "Win/Lose Notifications"
No one knows if they won or lost a round. This should be indicated after the round ends. People are currently off guard and think the game has frozen at the end of round. Let them know that they won/lost and that the server is currently being accessed.

[2014-04-04 01:17] FourierTransformer opened #301 "Server Access Time"
Either this needs to be reduced or a mini game or something that can be done to make this a hair faster. At least start a disco here so we know what's up.

[2014-04-04 01:22] JaredPoetter opened #302 "Check the ELO Maths when the Int to Float is fixed."
Check the ELO Maths when the Int to Float is fixed.

[2014-04-04 01:23] JaredPoetter opened #303 "Play the game once the Int to Float are fixed on the server code."
Wait for #293 to be finished.

[2014-04-04 01:30] FourierTransformer opened #304 "No knock back on bow and a little more knock back on sword"
This needs some discussion. Someone should do this in a separate branch so we can test it out and see if we like the knew knock back.

[2014-04-04 02:04] AOEChamp commented on #301
How bad is it? Not more than 1-5s for me

[2014-04-04 02:07] AOEChamp commented on #293
Githubs being poopy

[2014-04-04 02:07] #288 closed, assigned to nobody

[2014-04-04 02:07] #230 closed, assigned to nobody

[2014-04-04 02:07] #229 closed, assigned to nobody

[2014-04-04 02:08] AOEChamp commented on #300
Working on this

[2014-04-04 02:16] bkern24 commented on #293
Your right adeeb, but I believe what's happening is you divide the float by an int, or vice versa, and so the code is then truncating the values to ints.....

[2014-04-04 02:26] FourierTransformer commented on #293
Yup. When you do the power function, it returns either 1 or 0 resulting in
an incorrect expected score and then elo ends up being incorrect as well
On Apr 3, 2014 9:16 PM, "bkern24" notifications@github.com wrote:

[2014-04-04 02:27] FourierTransformer commented on #301
We were getting between 5-15 seconds on campus.
On Apr 3, 2014 9:04 PM, "AOEChamp" notifications@github.com wrote:

[2014-04-04 02:41] AOEChamp commented on #293
Not the power function, but it looks like SQL is poopy and doesn't follow the "do the calculations in the most complex number format supplied" rule. FLOAT all the things

[2014-04-04 03:40] JaredPoetter commented on #293
So is this complete because if it is I can work on verifying that the calculations are done correctly?

[2014-04-04 03:52] FourierTransformer opened #305 "What to do when the internet craps out during gameplay?"
Currently I believe we error out in both the release and debug versions.

[2014-04-04 04:12] #300 closed, assigned to AOEChamp

[2014-04-04 04:23] AOEChamp commented on #293
Soo, I'm testing with floats. And nothing changes.

[2014-04-04 04:25] AOEChamp commented on #293
And the expected scores worked fine before.

[2014-04-04 04:25] AOEChamp commented on #305
Yes

[2014-04-04 04:28] #210 closed, assigned to nobody

[2014-04-04 04:29] AOEChamp commented on #117
Replaced by #295

[2014-04-04 04:29] #117 closed, assigned to lingqingmeng

[2014-04-04 04:29] AOEChamp commented on #114
No longer needed

[2014-04-04 04:29] #114 closed, assigned to nobody

[2014-04-04 04:30] AOEChamp commented on #110
ELO for days

[2014-04-04 04:30] #110 closed, assigned to nobody

[2014-04-04 04:30] AOEChamp commented on #109
No longer relevant

[2014-04-04 04:30] #109 closed, assigned to nobody

[2014-04-04 04:30] AOEChamp commented on #115
Using ELO system instead

[2014-04-04 04:30] #115 closed, assigned to nobody

[2014-04-04 04:33] AOEChamp commented on #301
Hmm. Yea, I see that now. It's already sped up a ton now that data is being sent in batches. Not sure if it will get any faster. This is why sending a single JSON packet woulda been so much better then silly RESTful services. But meh

[2014-04-04 04:49] bkern24 commented on #293
Well I don't know it worked before... But is it SQL that does weird things with regular division? I know some languages do some type of rounding or truncating when using the regular division symbol? But not really sure

[2014-04-04 04:57] AOEChamp commented on #293
In any case, the code is int-free now. See if it works as expected

[2014-04-04 15:15] JaredPoetter commented on #293
I can look at the values today or tomorrow to make sure they are correct. #302

[2014-04-04 15:25] lingqingmeng commented on #305
Should have a wait timer? AFAIK it tries two times (if, else if ....) and
if that doesn't work it craps out.

On Thu, Apr 3, 2014 at 11:25 PM, AOEChamp notifications@github.com wrote:

[2014-04-04 16:06] JaredPoetter opened #306 "Balance other monsters"
This is something that can be done if you have nothing else to work on. It is a low priority but I figured that at some point we should make the issue.

Balancing of the other monsters and weapons that we have created so we can push them back into the already balanced game of two weapons and three monsters. Look at the other monsters and weapons to get an idea of what the others should be.

[2014-04-04 16:25] lingqingmeng commented on #306
I'll work on it since Adeeb did my issue already.

On Fri, Apr 4, 2014 at 11:06 AM, Jared Poetter notifications@github.comwrote:

[2014-04-04 16:26] JaredPoetter commented on #306
Ok I will assign it to you.

[2014-04-05 18:07] bkern24 commented on #299
Can someone explain this usage of ticks? Everything else I understand. also I cannot recreate the issue of the suicide bomber damaging the player twice, can anyone else? @FourierTransformer

[2014-04-05 18:24] Quillwerth commented on #305
We could pull "back-up" stages at the same time that we request the
scenario from the server. Furthermore, we could just have them play the
same stage over and again, based on the assumption that we actually do know
how good they are.

In any case, a crash is the wrong path. Notifying the player of disruption
and having them fix it, without the game going down, is the proper
behaviour.
Should have

[2014-04-05 23:38] Quillwerth commented on #299
Why is this even a problem? Why "should" it change? Is it actually a
balance issue, or is it simply picky? We have to direct energy carefully.
On Apr 5, 2014 2:07 PM, "bkern24" notifications@github.com wrote:

[2014-04-06 01:58] FourierTransformer commented on #299
It's partially a balance issue (they do 31 damage to you). Partially a
visual issue (their health bar is almost all red).

From my understanding the ticks make it so the player can walk into the
explosion twice making their health go down twice from the explosion.
On Apr 5, 2014 6:38 PM, "Patrick Severin" notifications@github.com wrote:

[2014-04-06 02:24] bkern24 commented on #299
Well I can't recreate the getting damage done twice... I tried staying in the field for the duration and tried running out of the field and then back into it... And I haven't seen double damage

[2014-04-06 02:26] FourierTransformer commented on #299
Huh, maybe that part was fixed when we scaled his health/damage component...
On Apr 5, 2014 9:24 PM, "bkern24" notifications@github.com wrote:

[2014-04-06 09:04] #295 closed, assigned to AOEChamp

[2014-04-06 19:07] JaredPoetter opened #308 "Cannot Log Into The Game"
Logging into the website or game does not work. It happens both on the current develop and god branch.

The error that you get when you try to log is:
Error.
An error occurred while processing your request.

@AOEChamp Do you have any idea what is causing this? Is the server down or is it trying to look at the wrong table.

[2014-04-06 22:18] AOEChamp commented on #308
Should be fixed now

[2014-04-06 22:18] #308 closed, assigned to nobody

[2014-04-07 00:57] AOEChamp commented on #294
Is this actually a problem? ELO calculations will work fine. Unless we care about people boosting their accounts, but I doubt anyone cares about our game that much...

[2014-04-07 01:03] FourierTransformer commented on #294
When we tried it, regular Elo would go down and linear elo would go up. It
didn't quite make sense. Not sure if the error came from elo calc or two
accounts being logged in. I believe both computer's accounts won (so, it
should've gone up)
On Apr 6, 2014 7:57 PM, "AOEChamp" notifications@github.com wrote:

[2014-04-07 03:10] bkern24 commented on #299
#309

[2014-04-07 05:25] AOEChamp commented on #305
Networking should be more robust now. Lets the user know what's going on, and an error message if it fails to send. We can change number of attempts and time between attempts as needed.

If anyone wants to test, use Clumsy to simulate lag or dropped connections.
http://jagt.github.io/clumsy/download.html

[2014-04-07 06:51] FourierTransformer commented on #297
#310 FLOCKING! WEEEEEEEEEEEEE!

[2014-04-07 21:13] dawl commented on #298
Ranged monsters now flee to their nearest ally (which means they bunch up when they are close to the player). in branch etzel/RangedAI

[2014-04-07 21:13] dawl commented on #298
They also switch distances from player based on which weapon the player is wielding

[2014-04-07 23:58] FourierTransformer opened #311 "Gmail Login Fix"
The window is too small to login effectively with gmail. This should be fixed.

[2014-04-08 00:00] FourierTransformer opened #312 "Facebook login doesn't work and should be removed."
We decided (on 4/7 meeting) that most people will either create a local account or login with gmail. This button is no longer needed.

[2014-04-08 00:10] Quillwerth opened #313 "constant K-multiplier for new players / scenarios"
For the first thirty games of a player / scenario, use a K multiplier of 25.

[2014-04-08 00:10] FourierTransformer opened #314 "Server should send scenario to the clients"
We don't want the clients to have a list of scenarios to choose from (locally on their computer). The idea is to have a list of scenarios on the server (that we can easily add to) that will then be sent down to the client to be played.

[2014-04-08 00:13] #297 closed, assigned to FourierTransformer

[2014-04-08 00:13] #299 closed, assigned to bkern24

[2014-04-08 00:14] FourierTransformer commented on #301
Looks like this has been completed and is now in the main branch.

[2014-04-08 00:14] #301 closed, assigned to nobody

[2014-04-08 00:15] lingqingmeng commented on #306
I pushed to Conrad's latest branch origin/rangedAI (since its the farthest up). Close this once you confirmed you received the changes. @dawl

[2014-04-08 01:03] JaredPoetter opened #315 "Documentation on how to access and log into the server"
We need access and documentation on how to access the server to be able to update code that is running on the server.

[2014-04-08 01:03] FourierTransformer opened #316 "Linear ELO doesn't currently work"
We were going to take a look at this tonight, but none of us have access (see #315). Linear ELO doesn't appear to be updated correctly atm. Not quite sure what's up with that, and now we aren't able to debug it...

[2014-04-08 01:08] JaredPoetter opened #317 "Widen the login screen"
Widen the login screen

[2014-04-08 01:09] FourierTransformer commented on #292
@AOEChamp we kind of need these in before we can get local testing up and running.

[2014-04-08 01:13] JaredPoetter opened #318 "Being able to drop in new scenarios"
Being able to drop in new scenarios into the server and have the server create a new entry for the scenario table so that it can be scaled by the plays.

[2014-04-08 01:17] AOEChamp commented on #292
Where are they?

[2014-04-08 01:20] FourierTransformer commented on #292
I totes emailed them to you that one time. I'll ping the email

[2014-04-08 14:49] JaredPoetter commented on #314
Step by step process that we want to happen:
Client starts the game and clicks on the arena map.
Client's game talks to the server to get a scenario that is the closest to their current ELO score.
Server sends the full scenario information, i.e. location and number of each of the monsters.
Client's game will translate the data sent from the server for the scenario.
The scenario is played.
Once the

[2014-04-08 16:50] JaredPoetter commented on #292
These should be put in for testing in the group. And while that is going on we can develop a method for the game to receive the scenarios from the server.

[2014-04-08 17:14] JaredPoetter opened #319 "Potential LeaderBoard Issue"
Shak thought of a good point during last night's meeting (4-7) that if the LeaderBoard is doing a join of the two tables in our database that it might cause the server to crash if enough people are accessing the page at the same time. If this is the case then a fix would have the LeaderBoard only update every hour or half hour. The server could just update a table that the LeaderBoard is accessing

[2014-04-08 18:00] Quillwerth commented on #319
I would guess that it could even handle regenerating on any ELO update. But
after that, it should be static. That way, we can't crash from people
refreshing the leaderboard. No DDoS for us!
On Apr 8, 2014 12:14 PM, "Jared Poetter" notifications@github.com wrote:

[2014-04-08 18:07] JaredPoetter commented on #319
Yea this is another way of doing it. We should probably just have a table that stores that LeaderBoard stats and then we run the update SQL to get the new leaderboard.

[2014-04-09 07:09] #311 closed, assigned to nobody

[2014-04-09 07:11] AOEChamp commented on #316
Problem was because because completed flag wasn't being set upon round end. Also, LinearELO for the first scenario is super low for some reason. So ELO gains for that scenario round to 0. Probs not a problem once we reset ELO. But do we want ELO clamping(so that there is a minimum gain for wins?)

[2014-04-09 07:11] #317 closed, assigned to nobody

[2014-04-09 07:19] AOEChamp commented on #315
There really isn't anything to access. Deployment should work from visual studio. Open the TowerSite project, go to publish. The publish profile should already be filled out

[2014-04-09 07:27] AOEChamp commented on #313
Why 25? Seeding matches usually have a higher K value than normal

[2014-04-09 07:33] AOEChamp commented on #313
Should be done, btw

[2014-04-09 07:33] #312 closed, assigned to nobody

[2014-04-09 07:33] #293 closed, assigned to AOEChamp

[2014-04-09 07:42] #302 closed, assigned to JaredPoetter

[2014-04-09 07:42] #303 closed, assigned to nobody

[2014-04-10 01:16] lingqingmeng commented on #304
I'll test it out on my branch.

[2014-04-10 03:08] JaredPoetter commented on #292
What is the progress on getting these put into the develop branch? We need these put in before we are able to do local testing within the group.

[2014-04-10 05:24] AOEChamp commented on #292
Done

[2014-04-10 05:24] #292 closed, assigned to FourierTransformer

[2014-04-10 06:14] Quillwerth commented on #316
I don't believe so. If the math says you should stomp, then you shouldn't be recognized for it.

Is this a closed issue?

[2014-04-10 06:18] AOEChamp commented on #316
It is now

[2014-04-10 06:18] #316 closed, assigned to nobody

[2014-04-10 07:45] Quillwerth commented on #315
Just tried to publish a very small change to the site. It's asking for credentials, I gave it the database ones. It did not work. I'm not aware of other creds we're to use. Perhaps you could send an email, @AOEChamp ?

[2014-04-10 08:59] AOEChamp commented on #315
Hmm. Not sure what credentials it wants. Could be this: http://msdn.microsoft.com/en-us/library/ff683676.aspx

The easiest solution might be to add whoever needs access as a co-administrator to the Azure subscription. Then I'd assume you log in with your live id. Send me your Windows Live ID(or make one) and I'll add you.

[2014-04-10 15:38] lingqingmeng commented on #315
Can you add me? I'm mengx061@outlook.com

On Thu, Apr 10, 2014 at 3:59 AM, AOEChamp notifications@github.com wrote:

[2014-04-10 22:45] AOEChamp commented on #315
Added you. Trying logging in to WindowsAzure as well as publishing from
VS2013

On Thu, Apr 10, 2014 at 10:38 AM, lingqingmeng notifications@github.comwrote:

[2014-04-11 00:00] FourierTransformer opened #322 "Scenario ELO table needs to be updated"
The ELO table doesn't have any of the new scenarios from the 28 new scenarios.

[2014-04-11 00:01] FourierTransformer commented on #322
Ideally this will be automatics?

[2014-04-11 00:16] AOEChamp commented on #322
It is automatic. Just play through them

On Thu, Apr 10, 2014 at 7:01 PM, Shakil Thakur notifications@github.comwrote:

[2014-04-11 00:22] FourierTransformer commented on #322
We totally did. It didn't actually update the sql
On Apr 10, 2014 7:16 PM, "AOEChamp" notifications@github.com wrote:

[2014-04-11 00:29] Quillwerth commented on #315
Please add me: pbseverin@outlook.com

[2014-04-11 00:32] FourierTransformer commented on #322
Totally hard coded the new scenarios in the elo table
On Apr 10, 2014 7:21 PM, "Shakil Thakur" thaku019@umn.edu wrote:

[2014-04-11 00:38] FourierTransformer opened #323 "Player ELO is not being created for new Players"
We cleared the player elo table to get ready for the internal beta, and now when someone plays the player elo table is not being updated.

@fualkner plans on taking care of this.

[2014-04-11 00:49] AOEChamp commented on #323
I'm guessing the INSERT no longer works because the table structure changed. Should be a simple fix in the sql code

[2014-04-11 00:52] JaredPoetter opened #324 "Fix the Linear ELO in the ELO Verifier SpreedSheet"
Fix the Linear ELO in the ELO Verifier SpreedSheet

[2014-04-11 01:01] Quillwerth commented on #314
We want this done by Monday. @AOEChamp

[2014-04-11 01:06] JaredPoetter opened #325 "Clean up the UI"
Clean up the UI

[2014-04-11 01:21] JaredPoetter commented on #323
It does not work for new players created after the truncation of the table or players created before the truncation of the table. Just wanted to make sure this was stated.

[2014-04-11 21:26] Quillwerth commented on #315
Ling and I just tried to publish, used our credentials, and got this error:

Error   2   Web deployment task failed. (Connected to the remote computer ("waws-prod-ch1-003.publish.azurewebsites.windows.net") using the Web Management Service, but could not authorize. Make sure that you are using the correct user name and password, that the site you are connecting to exists, and that the credentials

[2014-04-11 21:38] Quillwerth commented on #315
Also, did you have to download any updates, support packages, or any third party applications for Visual Studios, Azure, IIS? We want to match your configuration as closely as possible so we can get our publishing to work with our MS account credentials.

[2014-04-11 21:45] AOEChamp commented on #315
There was an azure sdk, I believe I posted the info on the dev environment
page. Make sure you can log into windowsazure and manage the website. I
believe the publish profile has a spectate password that is not your live
id. If it is lot being filled out automatically, you will have to get VS to
fill it out for you. Either by downloading the publish profile online, or
through VS . You have admin a

[2014-04-11 22:30] Quillwerth commented on #315
Finally worked it out. I'm learning so much.

Step 1: manage.windowsazure.com, log-in.
Step 2: Go to Web Pages (sidebar) --> csci4950
Step 3: Click "Download the Publish Profile"

Step 4: In Visual Studio, with the TowerSite project open, right-click TowerSite --> Publish...
Step 5: On the pop-up's sidebar, click Profile --> Import...
Step 6: Select downloaded Import file.
Step 7: Click preview (s

[2014-04-11 22:32] Quillwerth commented on #315
The above has been ported to the Wiki. Yaaaaay.

[2014-04-11 22:32] #315 closed, assigned to AOEChamp

[2014-04-12 06:04] AOEChamp commented on #315
The weird part is, the publish profile gets committed too. So it should
have just worked...

On Fri, Apr 11, 2014 at 5:32 PM, Patrick Severin
notifications@github.comwrote:

[2014-04-13 12:15] AOEChamp commented on #318
This can now be done by adding a new row to the ScenarioELOes table, and including the relevant xml

[2014-04-13 12:15] #318 closed, assigned to nobody

[2014-04-13 12:17] AOEChamp commented on #314
Completed.

Server will send down complete scenario XML for each round, based on current ELO.

If a scenario is not returned for whatever reason(server error, bad network), the game will pick one of the local scenarios in Scenarios.xml.

[2014-04-13 12:19] #314 closed, assigned to nobody

[2014-04-13 12:20] AOEChamp opened #326 "Fill out scenario XML in SQL table or create a script for automation"
The ScenarioXML column of the ScenarioELOes table needs to be filled out with xml for each scenario. The format is as below:

<?xml version="1.0" encoding="utf-8"?>
<root id="Scenarios">
    <scenario name="Arena_scenario_M1_R0_S0"
        difficultyScore="0.50"
        map="Arena.tmx"
        playerX="652"
        playerY="784">
        <spawner xPosition="1112"
            yPosition="1040"

[2014-04-13 12:39] #323 closed, assigned to Quillwerth

[2014-04-13 12:39] #322 closed, assigned to nobody

[2014-04-13 12:39] #313 closed, assigned to nobody

[2014-04-13 12:39] #305 closed, assigned to AOEChamp

[2014-04-13 12:40] AOEChamp commented on #325
Insulting my UI skills? JK, I didn't put any effort into it :P

[2014-04-13 12:41] AOEChamp commented on #324
What is this?

[2014-04-13 12:43] AOEChamp commented on #319
Leaderboard SQL is as follows:

[code]

Not exactly a huge operation. The PlayerScore/ELO calculations are far worse. I don't think this is a huge issue for now. But at some point, switching to a daily leaderboard might be a good idea..

EDIT: How did github know that was code o.O I'm scared

[2014-04-13 15:54] bkern24 commented on #261
4950csci@gmail.com

[2014-04-13 17:48] JaredPoetter opened #328 "Go through scenarios in the Scenarios.XML file"
I am talking about removing the junk scenarios that we created in the beginning of this semester to test out the game and the scenario code.

Do not forget to change the client code that selects the next scenario because last time I looked at it and worked on it it was just using a counter and a modulus to stay within a certain range of scenarios.

[2014-04-13 17:49] JaredPoetter commented on #314
Is the scenario then parsed to create the scenario on the client side? I am assuming but I want to make sure.

[2014-04-13 17:52] JaredPoetter commented on #324
This is a Google SpreedSheet that I made to verify the ELO calculations are correct. We are not able to run unit tests on the SQL code and we were getting tired of going through the math on the board. I finished it last night but I am not sure I was given the correct equation for the Linear ELO at the other meeting.

[2014-04-13 17:52] #324 closed, assigned to JaredPoetter

[2014-04-13 18:18] AOEChamp commented on #328
Already removed these

[2014-04-13 18:18] #328 closed, assigned to nobody

[2014-04-13 18:19] JaredPoetter commented on #328
Great.

[2014-04-13 19:07] AOEChamp commented on #314
It's not saved locally if that's what you're asking

[2014-04-13 20:16] JaredPoetter commented on #314
No I am saying that once the server passes a scenario to the client in the XML format does the client then parse it out and create the scenario. Or does this still have to be done.

[2014-04-13 21:09] AOEChamp commented on #314
The scenario xml is sent from the server and parsed each round

[2014-04-14 05:53] FourierTransformer opened #329 "We always play the same level now..."
Not sure what's up. But in the current version, we only ever play the 1 melee dude.

[2014-04-14 05:55] FourierTransformer commented on #329
i take it this is related to #326...

[2014-04-14 06:06] FourierTransformer commented on #326
Should this actually look like:

[code]

Because otherwise multiple spawners will not be a thing. (or even one spawner?)

[2014-04-14 14:18] JaredPoetter commented on #326
I guess this is something that we should look at tonight during our meeting.

[2014-04-14 14:54] AOEChamp commented on #329
Yes

[2014-04-14 14:54] #329 closed, assigned to nobody

[2014-04-14 15:50] dawl commented on #298
Added a random delay to the AI so that the mechanic cannot be exploited by the player. In branch etzel/ArcherAI

[2014-04-14 18:21] lingqingmeng commented on #296
You can also move around after your death when you die by getting "pushed" by a melee monster.

[2014-04-14 18:24] lingqingmeng commented on #326
Is the problem here in the XML generator? It can't generate scenarios with more than 1 monster?

[2014-04-14 23:27] #266 closed, assigned to FourierTransformer

[2014-04-15 03:02] JaredPoetter commented on #306
Ling did you get to balancing the monsters? Or does this have to be reassigned?

[2014-04-15 03:02] #261 closed, assigned to JaredPoetter

[2014-04-15 03:04] JaredPoetter opened #330 "Creating the scenarios for all the different monsters"
The idea is to have a wide range of scenarios that will be easy to hard. Also the scenarios should have 2-3 monster types during each scenario to make the game fresh and enjoyable for the player.

@FourierTransformer and @fualkner were going to work on this.

[2014-04-15 03:07] JaredPoetter opened #331 "Game cycling through all the scenarios for internal play testing"
Have the game cycle through all of the scenarios that we are going to have on the server so that we can get their ELO values set.

[2014-04-15 03:09] JaredPoetter opened #332 "Internal play testing"
This is dependent on the issues; #330, #331, #306; being completed.

[2014-04-15 13:26] bkern24 commented on #332
Is this testing we plan on doing before thursday night?

[2014-04-15 13:43] JaredPoetter commented on #332
Yes it would be nice to have some of this testing done before Thursday because it is going to be a few hours per person to get the scenarios seated. But this cannot really be done until the other issues are completed. The main one is getting the new scenarios with all the monsters we are wanting and the balanced monster attacks and health. Does that make sense?

[2014-04-15 17:20] lingqingmeng commented on #306
Reassign it. I pushed it to Conrads branch but I don't think he merged it.

On Mon, Apr 14, 2014 at 10:02 PM, Jared Poetter notifications@github.comwrote:

[2014-04-15 17:20] lingqingmeng commented on #306
Shouldn't take too long, I have all the values with me.

On Tue, Apr 15, 2014 at 12:20 PM, Ling Qing Meng ling.q.meng@gmail.comwrote:

[2014-04-15 17:29] JaredPoetter commented on #306
Could you just post the health and damage values for each enemy that you already did because we do not want to spend time trying to find the branch that you pushed those changes to. It would just save some time. Thanks.

[2014-04-15 21:00] lingqingmeng commented on #306
Yeah I'll get it tonight after work.

On Tue, Apr 15, 2014 at 12:29 PM, Jared Poetter notifications@github.comwrote:

[2014-04-16 00:41] JaredPoetter opened #333 "Remove the ` key from the game"
@AOEChamp I noticed that you put the ` key in the game last night during debugging but it looks like you did not take it out.

The key skips the scenario.

[2014-04-16 01:23] AOEChamp commented on #333
That is only available in debug mode

[2014-04-16 01:27] JaredPoetter commented on #333
Well even if it is still in debug only we should still try it in the released version just to make sure.
Thanks for the response.

[2014-04-16 02:12] lingqingmeng commented on #306
patch notes
-GrenadeWeapon improved. Cooldown: 7->4. Base Damage: 20->17. Range
250->300.

Rationale: Compared to Archers, grenadiers have been a lot easier to combat.
We want both Monsters to be equally challenging, while still maintaining
unique differences amongst them. Grenades should be more frequent since
its very unlikely that you get hit by a Grenade compared to an arrow. Yes
I'm aware Arr

[2014-04-16 02:31] FourierTransformer commented on #326
Closed

[2014-04-16 02:31] #326 closed, assigned to FourierTransformer

[2014-04-16 02:32] FourierTransformer commented on #330
Hey, this is done. All the new scenarios are in the Database. The map was updated ( #334 ). This is done.

[2014-04-16 02:32] #330 closed, assigned to nobody

[2014-04-16 14:37] FourierTransformer opened #336 "FLAME TOWER DOESN'T ROTATE"
...and it's crunch time!

[2014-04-16 15:25] bkern24 commented on #336
I can work on this late tonight.... Like 10 pm if no one else has started

[2014-04-16 15:57] sturmE commented on #336
Dont trust him.

[2014-04-16 17:23] #304 closed, assigned to lingqingmeng

[2014-04-16 17:23] lingqingmeng commented on #298
This has been fixed right?

[2014-04-16 17:26] lingqingmeng opened #337 "Grenadiers use same anti-corner algorithm as ranged"
Just realized this should be included, as a sort of proactive bug prevention step. @dawl You think it will be a simple copy and paste from the script making the Ranged AI not get stuck in corners then?

[2014-04-17 02:23] AOEChamp commented on #336
I'll look into it first :P

[2014-04-17 02:34] bkern24 commented on #336
Alright well I just got home.I'll check back in at 10:30, so if I haven't heard anything I'll assume you finished it

[2014-04-17 03:56] Duffman9205 commented on #306
I would also suggest the grenade fuse time be reduced from 2.0 to 0.5 to make them more dangerous. They're currently way too easy to avoid. (btw, the fuse time is set line 209 of WeaponSystem)

[2014-04-17 04:02] Duffman9205 commented on #306
Also, the flame tower isn't really a threat in Arena, at least in the middle. I usually just run around it and kill it after everything else. Maybe make it's range higher?

[2014-04-17 04:18] FourierTransformer commented on #306
HOLY FLAMTHROWER THAT IS GOLD! Talk about taking anti-kiting to a new
extreme! Duffy, I freaking LOVE it! @AOEChamp the ball is now in your court.

On Wed, Apr 16, 2014 at 11:02 PM, Duffman9205 notifications@github.comwrote:

[2014-04-17 04:21] AOEChamp commented on #306
All we need is a bigger and better flame texture

On Wed, Apr 16, 2014 at 11:18 PM, Shakil Thakur notifications@github.comwrote:

[2014-04-17 05:18] #336 closed, assigned to nobody

[2014-04-17 20:09] Quillwerth commented on #337
I believe this was implemented.

[2014-04-17 20:09] #337 closed, assigned to nobody

[2014-04-17 20:15] Quillwerth opened #338 "PlayerScore incorrectly(?) calculated for SuicideBombers"
From GameSessionController.cs:

 SET @TotalHealth = @TotalHealth + CASE @Monster
        WHEN 'MeleeMonster' THEN 240
        WHEN 'SuicideBomber' THEN 1
        WHEN 'LandmineDropper' THEN 120
        WHEN 'RangedMonster' THEN 120
        WHEN 'Grenadier' THEN 100
        WHEN 'Flametower' THEN 100
        WHEN 'SnipMonster' THEN 120
        WHEN 'WallHugger' THEN 25
        ELSE 0
    END;

Note

[2014-04-17 22:01] AOEChamp commented on #338
Because magic. Yeah, that needs to be updated when we change health. Idk
how else the sql would know max health for monsters.

On Thu, Apr 17, 2014 at 3:15 PM, Patrick Severin
notifications@github.comwrote:

[2014-04-17 22:42] AOEChamp opened #340 "Bad XML in Scenario"
Arena_scenario_M2_R0_S0_W2_G2_F1 has malformed XML. PLZ FIX NAO :3

[2014-04-17 23:21] #192 closed, assigned to nobody

[2014-04-17 23:32] JaredPoetter opened #341 "Flame from the FlameTower does not go away after being killed"
Flame from the FlameTower does not go away being killed

[2014-04-18 00:09] JaredPoetter commented on #340
Server was down.

[2014-04-18 00:09] #340 closed, assigned to FourierTransformer

[2014-04-18 08:42] #331 closed, assigned to nobody

[2014-04-18 08:42] #306 closed, assigned to lingqingmeng

[2014-04-18 08:43] AOEChamp commented on #325
Looks like @fualkner took care of this?

[2014-04-18 08:43] #325 closed, assigned to FourierTransformer

[2014-04-18 21:29] JaredPoetter opened #344 "Game does not work for brand new accounts"
The game does not allow brand new accounts to play the game. This bug is present in both the published version and the debug version in visual studio.

Process to recreate the bug:
Create new account.
Log in with new account.
Click new game.
Click arena.
Game will say that it failed to retrieve a scenario and once you quit out the game it will give you an error message.

[2014-04-19 04:33] #344 closed, assigned to nobody

[2014-04-19 06:28] bkern24 opened #345 "Flame Tower Shield doesn't always diseappear, and can be attacked whenever"
Killed all enemies tower shield didn't go away. Attacked flame tower before killing all enemies created hard failure.

[2014-04-19 17:11] FourierTransformer opened #346 "The current download link on the website contains an old version of the game"
@AOEChamp, The current download link on the site https://csci4950.azurewebsites.net/Download is incorrect.

[2014-04-19 20:46] Quillwerth commented on #345
We should just nix the feature. It's unnecessary to the gameplay, and the story is basically an inside joke.

[2014-04-19 20:47] Quillwerth commented on #338
Fixed it. Fix is sitting in "god", and was pushed to the server.

[2014-04-19 20:47] #338 closed, assigned to nobody

[2014-04-19 21:09] JaredPoetter commented on #345
+1 That is exactly what I was thinking Patrick.

[2014-04-19 21:15] Quillwerth commented on #345
Game just crashed on me because of this. I thought everything on the map was dead. If there's a general consensus that the should be removed (more trouble than it's worth), then let's do that. @AOEChamp, I'm not sure where in the code this shield exists; could you remove it, or give me a hint?

[2014-04-19 21:22] Quillwerth opened #347 "Really, 15 second server connections?!"
Okay, I can't ignore this glaring UX flaw any more. Playing the game is actually PAINFUL because of it. We log a ton of GameEvents, probably because we used to give a damn what tactics people were using. I don't think we care anymore: we care about players, and just raw plays of levels.

Three things I want to know:
1. What times are the rest of you getting after levels, on average?
2. What events

[2014-04-19 21:24] bkern24 commented on #347
Increase hardware!

On Sat, Apr 19, 2014 at 4:22 PM, Patrick Severin
notifications@github.comwrote:

[2014-04-19 21:25] Quillwerth commented on #347
Will that bill the university more?

Do I care?

[2014-04-19 21:33] Quillwerth commented on #347
@bkern24 , could you answer the first question? If it's just my internet, then so be it.

Just had a "retrying connection" timeout, twice, despite having internet the whole time. Has anyone else seen that?

[2014-04-19 21:33] bkern24 commented on #347
I hope so.....

On Sat, Apr 19, 2014 at 4:25 PM, Patrick Severin
notifications@github.comwrote:

[2014-04-19 21:34] bkern24 commented on #347
No its really slow too. You can tell because one melee = fast and 10 wall
huggers = shoot me

On Sat, Apr 19, 2014 at 4:33 PM, Brandon Kern kernx163@umn.edu wrote:

[2014-04-19 22:47] Duffman9205 opened #348 "Text gets cutoff in Options menu"
The new font makes the Capture Mouse text in the Options menu show up as "pture Mou"

[2014-04-19 22:53] Duffman9205 commented on #345
I also just had my game crash when I killed the tower. I think it was the last enemy, but I'm not sure.
![killed tower crash](https://cloud.githubusercontent.com/assets/5514621/2749653/605d14e8-c815-11e3-90d6-67d95d404cda.PNG)

[2014-04-19 22:56] Duffman9205 commented on #345
Just got the same crash again -- I killed the tower when there was still an archer alive

[2014-04-19 23:17] Duffman9205 commented on #348
Text also gets cutoff in the pop-up message when it can't contact the server.

[2014-04-19 23:23] Quillwerth commented on #347
Tonight (hopefully) I'll do a total sweep of the code, looking for every mention of certain event types. Anything that's not being read in by code currently (i. e. is just being logged to the server for "research") will be nixed. @AOEChamp could probably greatly increase my speed here, if he can tell me which events are mission critical.

[2014-04-19 23:24] Quillwerth commented on #348
Text gets cut off a lot of places. How can we _solve_ this? Increased box sizes, I'm guessing... hopefully we can find those.

[2014-04-19 23:41] Duffman9205 opened #349 "Game closes after a bit when paused and using other programs"
I paused my game after a round to use Firefox for a bit and the game closed after a bit. Is it supposed to do that?

[2014-04-19 23:43] JaredPoetter commented on #349
I had this happen but I could not recreate it.

[2014-04-20 00:18] AOEChamp commented on #347
I don't know off-hand. Check the SQL code. Any events not being used in SQL
are probably not critical.

On Sat, Apr 19, 2014 at 6:23 PM, Patrick Severin
notifications@github.comwrote:

[2014-04-20 00:21] AOEChamp commented on #348
Increase label sizes or revert to the old font. In the future, you should
add a new font and change only the elements you need to change. The default
font is supposed to be a "safe" font.

On Sat, Apr 19, 2014 at 6:24 PM, Patrick Severin
notifications@github.comwrote:

[2014-04-20 01:12] dawl opened #350 "Game Crash on Killing Tower"
This has happened 3 times so far (~140 rounds), but when I killed the tower (there were other monsters left) I got this error
![error1](https://cloud.githubusercontent.com/assets/3344817/2749827/c44a67f4-c828-11e3-9cd7-2a6e39f2b7bd.png)

[2014-04-20 01:35] #333 closed, assigned to AOEChamp

[2014-04-20 01:36] #332 closed, assigned to nobody

[2014-04-20 01:44] dawl commented on #350
Call it repeatable.  Just had it happen again, killed the tower with one archer left and got the same error.

[2014-04-20 02:21] JaredPoetter commented on #350
I can second this. If you leave one ranged and then kill the tower it will crash the game. At least it is a repeatable bug. I will try to see if this happens with any other enemy types with the flametower.

[2014-04-20 02:23] AOEChamp commented on #346
^Pretty sure you just needed to clear cache. In any case, it has been updated.

[2014-04-20 02:23] #346 closed, assigned to AOEChamp

[2014-04-20 02:23] JaredPoetter commented on #350
It is repeatable with a melee too.

[2014-04-20 02:24] #265 closed, assigned to bkern24

[2014-04-20 02:27] AOEChamp commented on #347
The other thing to do is use Fiddler or another sniffer to see exactly what is being sent, how large it is, etc. We can also set it up so that data gets sent asynchronously every few seconds. I initially attempted that but was getting some errors. Might be do-able though.

[2014-04-20 02:28] AOEChamp commented on #349
Any error? I can't think of what would cause this

[2014-04-20 02:46] JaredPoetter opened #351 "Session Number Missing from the Game HUD"
Did I miss something that we wanted to remove this from the game HUD or is this a bug. Just wanted to let everyone know that this is a thing.

[2014-04-20 02:50] JaredPoetter commented on #349
No it did not have any errors. I just noticed it was gone after having the game paused for a couple of minutes. Sorry.

[2014-04-20 03:13] AOEChamp commented on #351
I removed it from release versions because our users don't need that info.

[2014-04-20 03:14] #350 closed, assigned to nobody

[2014-04-20 03:14] #345 closed, assigned to nobody

[2014-04-20 03:21] AOEChamp commented on #347
Furthermore, it seems that azure website policy has an idle timeout period. After the idle period(20 min default, I believe), the site shuts down. The next request will take an extra 10-15s as the site boots up. The policy is not modifiable, so the only solution(if this is actually a problem) is to switch from a website to a Virtual Machine

[2014-04-21 16:23] #351 closed, assigned to nobody

[2014-04-21 17:10] AOEChamp commented on #347
Hey @fualkner try out the code in my branch. It sends current data async every 5 sec. Should improve end game performance significantly. Let me know if it reduces send time at the end.

[2014-04-21 17:15] AOEChamp commented on #298
Pretty sure this was fixed

[2014-04-21 17:15] #298 closed, assigned to dawl

[2014-04-21 17:18] #341 closed, assigned to nobody

[2014-04-21 17:28] AOEChamp commented on #294
Sooo pretty sure the elo problems had nothing to do with accounts, and multiple users isn't a problem. Unless we really care about people cheating. It's also a big issue to solve(track logins/logouts, what if they crash, etc). So I don't think we should work on this unless necessary

[2014-04-21 19:55] FourierTransformer opened #352 "I CAN'T CONNECT TO THE SERVER"
but Paul totally can. WHAT THE WHAT?!

[2014-04-21 19:57] FourierTransformer opened #353 "The Process still runs after you quit the game"
If you exit to the desktop from the in-game menu, the music plays and the process will still run.

The quit to the desktop from the main menu totally works tho.

[2014-04-21 20:15] AOEChamp commented on #353
It's just saving stuff to network before it quits.

[2014-04-21 20:15] AOEChamp commented on #352
teh suk

[2014-04-21 20:15] AOEChamp commented on #352
need more info

[2014-04-21 20:27] FourierTransformer commented on #352
It times out every time and I play the same level for days. I'm connected
to the same internet as Paul.

Not sure if it's a one off connection problem. Will try again later
On Apr 21, 2014 3:15 PM, "AOEChamp" notifications@github.com wrote: